<div class="container">
    <ea-query [node]="queryNode" (onSubmit)="EaTable.request($event)"></ea-query>
  

  
    <ea-table #EaTable [thead]="tableNode" [isParamJson]="false" [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false"
      url="/console/release/all">
      <ng-template let-data #EaTableTbodyTr>
        <td>
          <nz-avatar [nzIcon]="'user'" [nzOverlayStyle]="{padding: '0 !important'}" nzPlacement="rightBottom"
            [nzSrc]="data.headImgUrl" nz-tooltip [nzTitle]="data.headImgUrl ? titleTemplate : null"></nz-avatar>
          <ng-template #titleTemplate>
            <img [src]="data.headImgUrl" [ngStyle]="{'max-width': '226px', 'max-height': '400px', 'transform': 'scale(1.1)'}">
          </ng-template>
        </td>
        <td>{{ data.openId }}</td>
        <td>{{ nickName }}</td>
        <td>{{ data.sex }}</td>
        <td>{{ data.country }}</td>
        <td>{{ data.province  }}</td>
        <td>{{ data.city }}</td>
        <td>{{ data.totalPrice }}</td>
        <td>{{ data.isUse }}</td>
        <td>{{ data.createTime }}</td>
        <td>{{ data.updateTime }}</td>
  
      </ng-template>
    </ea-table>
  </div>