<div class="top-nav">
  <span>课表时间：{{ startDate }} — {{ endDate }}</span> <span>排课班级： {{ className }}</span>
</div>

<nz-table class="addEvent" #basicTable [nzData]="dataList" nzShowPagination="false">
  <thead>
    <tr>
      <th nzWidth="150px">日期</th>
      <th>星期一<br>{{ startDate }}</th>
      <th>星期二<br>{{ Tuesday }}</th>
      <th>星期三<br>{{ Wednesday }}</th>
      <th>星期四<br>{{ Thursday }}</th>
      <th>星期五<br>{{ Friday }}</th>
      <th>星期六<br>{{ Saturday }}</th>
      <th>星期日<br>{{ endDate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let data of dataList">
      <td>
          {{data.startHour>9 ? data.startHour : '0'+ data.startHour}}:{{data.startMinute>9 ? data.startMinute : '0'+ data.startMinute}}-{{data.endHour>9 ? data.endHour : '0'+ data.endHour}}:{{data.endMinute>9 ? data.endMinute : '0'+ data.endMinute}}
      </td>
      <td (click)="editorx(data,startDate)">
        <span *ngIf="data.courseTypes == null">{{ data.name }}</span>
        <ng-container *ngFor="let item of courseDayList">
          <ng-container *ngIf="item.configDate == startDate ">
            <ng-container *ngFor="let xmain of item.courseList">
              <ng-container *ngIf="xmain.template == data.id">
                <ng-container *ngIf="xmain.data">
                  <a >{{ xmain.data.name }}</a>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <a *ngIf="data.courseTypes != null" >+</a>
      </td>
      <td (click)="editorx(data,Tuesday)">
        <span *ngIf="data.courseTypes == null">{{ data.name }}</span>
        <ng-container *ngFor="let item of courseDayList">
          <ng-container *ngIf="item.configDate == Tuesday ">
            <ng-container *ngFor="let xmain of item.courseList">
              <ng-container *ngIf="xmain.template == data.id">
                <ng-container *ngIf="xmain.data">
                    <a >{{ xmain.data.name }}</a>
                  </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <a *ngIf="data.courseTypes != null" >+</a>
      </td>

      <td (click)="editorx(data,Wednesday)"> 
        <span *ngIf="data.courseTypes == null">{{ data.name }}</span>
        <ng-container *ngFor="let item of courseDayList">
          <ng-container *ngIf="item.configDate == Wednesday ">
            <ng-container *ngFor="let xmain of item.courseList">
              <ng-container *ngIf="xmain.template == data.id">
                <ng-container *ngIf="xmain.data">
                  <a >{{ xmain.data.name }}</a>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <a *ngIf="data.courseTypes != null" >+</a>

      </td>
      <td (click)="editorx(data,Thursday)">
        <span *ngIf="data.courseTypes == null">{{ data.name }}</span>
        <ng-container *ngFor="let item of courseDayList">
          <ng-container *ngIf="item.configDate == Thursday ">
            <ng-container *ngFor="let xmain of item.courseList">
              <ng-container *ngIf="xmain.template == data.id">
                <ng-container *ngIf="xmain.data">
                    <a >{{ xmain.data.name }}</a>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <a *ngIf="data.courseTypes != null" >+</a>
      </td>


      <td (click)="editorx(data,Friday)">
        <span *ngIf="data.courseTypes == null">{{ data.name }}</span>
        <ng-container *ngFor="let item of courseDayList">
          <ng-container *ngIf="item.configDate == Friday ">
            <ng-container *ngFor="let xmain of item.courseList">
              <ng-container *ngIf="xmain.template == data.id">
                <ng-container *ngIf="xmain.data">
                    <a >{{ xmain.data.name }}</a>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <a *ngIf="data.courseTypes != null" >+</a>

      </td>


      <td (click)="editorx(data,Saturday)">
        <span *ngIf="data.courseTypes == null">{{ data.name }}</span>
        <ng-container *ngFor="let item of courseDayList">
          <ng-container *ngIf="item.configDate == Saturday ">
            <ng-container *ngFor="let xmain of item.courseList">
              <ng-container *ngIf="xmain.template == data.id">
                <ng-container *ngIf="xmain.data">
                    <a >{{ xmain.data.name }}</a>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <a *ngIf="data.courseTypes != null" >+</a>
      </td>


      <td (click)="editorx(data,endDate)">
        <span *ngIf="data.courseTypes == null">{{ data.name }}</span>
        <ng-container *ngFor="let item of courseDayList">
          <ng-container *ngIf="item.configDate == endDate ">
            <ng-container *ngFor="let xmain of item.courseList">
              <ng-container *ngIf="xmain.template == data.id">
                <ng-container *ngIf="xmain.data">
                    <a >{{ xmain.data.name }}</a>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <a *ngIf="data.courseTypes != null">+</a>
      </td>

    </tr>
  </tbody>
</nz-table>
<div class="drawer-footer">
    <button nz-button (click)="close()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="saves()">保存</button>
  </div>