<div class="main">
    <button nz-button nzType="dashed" style="width: 100%; " (click)="addClass()"><i class="anticon anticon-plus"></i>添加方案</button>

    <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false" [nzLoading]="tableLoading">
        <thead>
            <tr>
              <th><a style="color:red;">*</a>名称</th>
              <th>描述</th>
              <th>状态</th>
              <th nzWidth="170px">操作</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of listOfData">
                  <td >
                      <ng-container *ngIf="!data.edit; else nameInputTpl">
                          {{ data.name }}
                        </ng-container>
                        <ng-template #nameInputTpl>
                          <input type="text" nz-input [(ngModel)]="data.name" />
                        </ng-template>
                  </td>
                  <td >
                      <ng-container *ngIf="!data.edit; else commitInputTpl">
                          {{ data.description }}
                        </ng-container>
                        <ng-template #commitInputTpl>
                          <input type="text" nz-input [(ngModel)]="data.description" />
                        </ng-template>
                  </td>
                  <td >
                      <nz-switch [(ngModel)]="data.status" [nzDisabled]="data.status" nzCheckedChildren="已启用" nzUnCheckedChildren="已停用" (ngModelChange)="selectPlan(data.id)"></nz-switch>
                  </td>
                  <td>
                      <ng-container *ngIf="!data.edit; else saveTpl">
                          <a (click)="data.edit = true;">编辑方案</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a (click)="updataTime(data.id)">编辑日程详情</a>
                        </ng-container>
                        <ng-template #saveTpl>
                          <a (click)="saveEdit(data)">保存方案</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a (click)="cancel(data)">取消</a>
                        </ng-template>
                  </td>
              </tr>
          </tbody>
    </nz-table>
</div>
