<div class="container">
  <ea-query [node]="queryNode" (onSubmit)="EaTable.request($event)"></ea-query>

  <ea-table #EaTable [thead]="tableNode" [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false"
    url="/membermanage/clue/alreadyReturnList">
    <ng-template let-data #EaTableTbodyTr>
      <td><a (click)="preview({id: data.id, source: 'visit'})">{{ data.nickName }}</a></td>
      <td><a (click)="preview({id: data.id, source: 'visit'})">{{ data.studentName }}</a></td>
      <td>{{ data.birthday || '--' }}</td>
      <td>{{ data.sex }}</td>
      <td>{{ data.monthAge }}</td>
      <td>
        <ng-container *ngIf="!data.showPhone; else elseTemplate"><a (click)="data.showPhone = true">查看</a></ng-container>
        <ng-template #elseTemplate>{{ data.mobilePhone }}</ng-template>
      </td>
      <td>{{ data.createTime }}</td>
      <td>{{ data.nextFollowTime || '--' }}</td>
      <td>{{ data.followTime || '--' }}</td>
      <td>{{ data.fromName || '--' }}</td>
      <td>{{ data.followStatusName }}</td>
      <td>{{ data.recruitTeacherName || '--' }}</td>
      <td>{{ data.activityName || '-' }}</td>
      <td>{{ data.followerName || '-' }}</td>
      <td>
        <div *ngIf="data.followContent" nz-tooltip [nzTitle]="data.followContent">
          {{ data.followContent.length > 20 ? data.followContent.substr(0, 20) + '...' : data.followContent }}
        </div>
      </td>
    </ng-template>
  </ea-table>
</div>