<div class="container">
    <div class="top-btn">
        <button nz-button nzType="primary">初始化日程</button>
        <button nz-button nzType="default" (click)="openUpdate()">配置日程</button>
        <span>*修改完以下配置后，新的日程安排并不会立即生效，如果要立即生效，请按初“始化日程”按钮！</span>
    </div>
    <nz-table #basicTable [nzData]="datalist" nzShowPagination="false">
        <thead>
          <tr>
            <th nzWidth="150px">时间</th>
            <th nzWidth="150px">名称</th>
            <th>需要排课</th>
            <th >内容</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datalist">
            <td>{{data.startHour>9 ? data.startHour : '0'+ data.startHour}}:{{data.startMinute>9 ? data.startMinute : '0'+ data.startMinute}}-{{data.endHour>9 ? data.endHour : '0'+ data.endHour}}:{{data.endMinute>9 ? data.endMinute : '0'+ data.endMinute}}</td>
            <td>{{data.name}}</td>
            <td>
                <button *ngIf="data.courseTypes" nzSize="small" nz-button nzType="primary">是</button>
                <button *ngIf="!data.courseTypes" nzSize="small" nz-button nzType="default">否</button>
            </td>
            <td>
              {{ data.content }}
            </td>
          </tr>
        </tbody>
      </nz-table>
  </div> 