<div class="container">
    <div class="top-btn">
        <button nz-button nzType="primary" (click)="openUpdate()">配置日程</button>
        <span>*修改完以下配置后，新的日程安排并不会立即生效，如果要立即生效，请按初“始化日程”按钮！</span>
    </div>
    <nz-table #basicTable class="datalist" [nzData]="datalist" nzShowPagination="false">
        <thead>
          <tr>
            <th nzWidth="150px">时间</th>
            <th nzWidth="100px">周一</th>
            <th nzWidth="100px">周二</th>
            <th nzWidth="100px">周三</th>
            <th nzWidth="100px">周四</th>
            <th nzWidth="100px">周五</th>
            <th nzWidth="100px">周六</th>
            <th nzWidth="100px">周日</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let data of datalist">
           <td>
              <p>{{data.startHour>9 ? data.startHour : '0'+ data.startHour}}:{{data.startMinute>9 ? data.startMinute : '0'+ data.startMinute}}-{{data.endHour>9 ? data.endHour : '0'+ data.endHour}}:{{data.endMinute>9 ? data.endMinute : '0'+ data.endMinute}}</p>
              <p *ngIf="data.englishName">{{ data.englishName }}</p>
              <p style="margin-bottom:0;">{{ data.name }}</p>
           </td>
            <td>{{data.name}}</td>
            <td>{{data.name}}</td>
            <td>{{data.name}}</td>
            <td>{{data.name}}</td>
            <td>{{data.name}}</td>
            <td>{{data.name}}</td>
            <td>{{data.name}}</td>
            <td  [innerHTML]="data.content"></td>
          </tr>
        </tbody> 
      </nz-table>
  </div> 