<div class="container">
        <nz-tabset>
                <nz-tab *ngFor="let item of listClass" [(nzTitle)]="item.className" (nzSelect)="selectClass(item.id)"></nz-tab>
            </nz-tabset>
    <div class="top-btn">
        <button nz-button nzType="primary" (click)="openUpdate()">配置日程</button>
        <span>*重新配置日程或更改方案内容后，新的日程安排将会在下周生效，不会立即生效！</span>
    </div>
    <nz-table #basicTable #borderedTable  nzBordered class="datalist" [nzData]="datalist" nzShowPagination="false">
        <thead>
          <tr>
            <th nzWidth="150px">时间</th>
            <th>内容</th>
            <th nzWidth="150px">周一</th>
            <th nzWidth="150px">周二</th>
            <th nzWidth="150px">周三</th>
            <th nzWidth="150px">周四</th>
            <th nzWidth="150px">周五</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let data of datalist">
           <td>
              <p style="margin-bottom:0; margin-top:10px;">{{data.startHour>9 ? data.startHour : '0'+ data.startHour}}:{{data.startMinute>9 ? data.startMinute : '0'+ data.startMinute}}-{{data.endHour>9 ? data.endHour : '0'+ data.endHour}}:{{data.endMinute>9 ? data.endMinute : '0'+ data.endMinute}}</p>
              <p style="margin-bottom:0;" *ngIf="data.englishName">{{ data.englishName }}</p>
              <p style="margin-bottom:.5em">{{ data.name }}</p>
           </td>
           <td  style="text-align:left;" [innerHTML]="data.content"></td>
            <td>
                <ng-container *ngIf="data.courseTypes">
                  <ng-container *ngFor="let item of listCourse">
                      {{ item.id == data.courseTypes[1] ? item.name : '' }}
                  </ng-container>
              </ng-container>
              <ng-container *ngIf="!data.courseTypes">{{ data.name }}</ng-container>
            </td>
            <td>
                <ng-container *ngIf="data.courseTypes">
                    <ng-container *ngFor="let item of listCourse">
                        {{ item.id == data.courseTypes[2] ? item.name : '' }}
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!data.courseTypes">{{ data.name }}</ng-container>
            </td>
            <td>
                <ng-container *ngIf="data.courseTypes">
                    <ng-container *ngFor="let item of listCourse">
                        {{ item.id == data.courseTypes[3] ? item.name : '' }}
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!data.courseTypes">{{ data.name }}</ng-container>
            </td>
            <td>
                <ng-container *ngIf="data.courseTypes">
                    <ng-container *ngFor="let item of listCourse">
                        {{ item.id == data.courseTypes[4] ? item.name : '' }}
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!data.courseTypes">{{ data.name }}</ng-container>
            </td>
            <td>
                <ng-container *ngIf="data.courseTypes">
                    <ng-container *ngFor="let item of listCourse">
                        {{ item.id == data.courseTypes[5] ? item.name : '' }}
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!data.courseTypes">{{ data.name }}</ng-container>
            </td>
            
          </tr>
        </tbody> 
      </nz-table>
  </div> 