<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>区域属性</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="publicPlaceFlag" nzPlaceHolder="请选择区域属性">
            <nz-option nzLabel="公共区" [nzValue]="1"></nz-option>
            <nz-option nzLabel="非公共区" [nzValue]="0"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="serialNum">设备号</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入设备号" formControlName="serialNum" id="serialNum">
          <nz-form-explain *ngIf="formGroup.get('serialNum').dirty && formGroup.get('serialNum').hasError('required')">请输入设备号！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="channelId">通道号</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入通道号" formControlName="channelId" id="channelId">
          <nz-form-explain *ngIf="formGroup.get('channelId').dirty && formGroup.get('channelId').hasError('required')">请输入通道号！</nz-form-explain>
          <nz-form-explain *ngIf="formGroup.get('channelId').dirty && formGroup.get('channelId').hasError('pattern')">通道号只能输入数字！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="placeName">通道名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入通道名" formControlName="placeName" id="placeName">
          <nz-form-explain *ngIf="formGroup.get('placeName').dirty && formGroup.get('placeName').hasError('required')">请输入通道名！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8" *ngIf="formGroup.get('publicPlaceFlag').value == 0">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>班级</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="classId" nzPlaceHolder="请选择班级">
            <nz-option *ngFor="let option of classList" [nzLabel]="option.className" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('classId').dirty && formGroup.get('classId').hasError('required')">请选择班级！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>