<div class="container">
  <ea-list-page
    #listPage
    url="/monitor/listMonitorMessage"
    [queryNode]="queryNode"
    [tableThead]="[ '区域属性', '班级', '设备号', '通道号', '通道名', '操作' ]"
    [EaBtns]="EaBtns"
    [showPage]="false"
    [EaTableTbodyTr]="EaTableTbodyTr">
  </ea-list-page>

  <ng-template #EaBtns>
    <div class="ea-button-group" style="margin-bottom: 16px;">
      <button nz-button [nzType]="'primary'" (click)="update()">录入</button>
    </div>
  </ng-template>

  <ng-template let-data #EaTableTbodyTr>
    <td>{{ data.publicPlaceFlag == 0 ? '非公共区' : '公共区' }}</td>
    <td>{{ data.className }}</td>
    <td>{{ data.serialNum }}</td>
    <td>{{ data.channelId }}</td>
    <td>{{ data.placeName }}</td>
    <td>
      <a (click)="update(data)">编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a nz-popconfirm nzTitle="确定要删除吗？" (nzOnConfirm)="delete(data.id)">删除</a>
    </td>
  </ng-template>
</div>