<nz-tabset [nzSelectedIndex]="selectIndex">
  <nz-tab nzTitle="老师">
    <nz-table #basicTable [nzShowPagination]="false" [nzPageSize]="10000" [nzData]="classInfo.teacherInfos">
      <thead>
        <tr>
          <th>头像</th>
          <th>名字</th>
          <th>性别</th>
          <th>角色</th>
          <th>接待能力</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td><nz-avatar nzShape="square" nzPlacement="rightBottom" [nzSrc]="data.photoUrl"></nz-avatar></td>
          <td>{{data.name}}</td>
          <td>{{data.sex ==  1 ? '男' : '女'}}</td>
          <td>{{data.roleName}}</td>
          <td>{{ data.receptionNum }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="日托">
    <nz-table #basicTable1 [nzShowPagination]="false" [nzPageSize]="10000" [nzData]="classInfo.dayCareStuList">
      <thead>
        <tr>
          <th>头像</th>
          <th>学号</th>
          <th>名字</th>
          <th>昵称</th>
          <th>性别</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable1.data">
          <td><nz-avatar nzShape="square" nzPlacement="rightBottom" [nzSrc]="data.headPhoto"></nz-avatar></td>
          <td>{{data.studentNum}}</td>
          <td>{{data.studentName}}</td>
          <td>{{data.nickName}}</td>
          <td>{{data.sex}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="月托">
    <nz-table #basicTable2 [nzShowPagination]="false" [nzPageSize]="10000" [nzData]="classInfo.mouthCareStuList">
      <thead>
        <tr>
          <th>头像</th>
          <th>学号</th>
          <th>名字</th>
          <th>昵称</th>
          <th>性别</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable2.data">
          <td><nz-avatar nzShape="square" nzPlacement="rightBottom" [nzSrc]="data.headPhoto"></nz-avatar></td>
          <td>{{data.studentNum}}</td>
          <td>{{data.studentName}}</td>
          <td>{{data.nickName}}</td>
          <td>{{data.sex}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="体验">
    <nz-table #basicTable3 [nzShowPagination]="false" [nzPageSize]="10000" [nzData]="classInfo.experienceStuList">
      <thead>
        <tr>
          <th>头像</th>
          <th>学号</th>
          <th>名字</th>
          <th>昵称</th>
          <th>性别</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable3.data">
          <td><nz-avatar nzShape="square" nzPlacement="rightBottom" [nzSrc]="data.headPhoto"></nz-avatar></td>
          <td>{{data.studentNum}}</td>
          <td>{{data.studentName}}</td>
          <td>{{data.nickName}}</td>
          <td>{{data.sex}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>