<div class="header-text">
  <nz-alert nzType="success" [(nzMessage)]="'当前阶段:' +  stepText"></nz-alert>
</div>
<div>
<ea-quote>客户关键信息</ea-quote>
<form nz-form [formGroup]="formGroupTop">
  <nz-row [nzGutter]="8">
      <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="5">是否住附近</nz-form-label>
            <nz-form-control [nzSpan]="19">
              <nz-select formControlName="near" nzPlaceHolder="请选择是否住附近">
                <nz-option *ngFor="let item of Attribute.near.list" [nzLabel]="item.name" [nzValue]="item.key">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">第几个孩子</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="multiplebirth" nzPlaceHolder="请选择第几个孩子">
            <nz-option *ngFor="let item of Attribute.multiplebirth.list" [nzLabel]="item.name" [nzValue]="item.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item> 
        <nz-form-label [nzSpan]="5">生产方式</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="born" nzPlaceHolder="请选择生产方式">
            <nz-option *ngFor="let item of Attribute.born.list" [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">平时陪护人</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="carer" nzPlaceHolder="请选择平时陪护">
            <nz-option *ngFor="let item of Attribute.carer.list" [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">是否家有保姆</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="babysitter" nzPlaceHolder="请选择是否家有保姆">
            <nz-option *ngFor="let item of Attribute.babysitter.list" [nzLabel]="item.name" [nzValue]="item.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">双职工</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="allworking" nzPlaceHolder="请选择是否双职工">
            <nz-option *ngFor="let item of Attribute.allworking.list" [nzLabel]="item.name" [nzValue]="item.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12" *ngIf="hiddenNannytime">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">看护时长</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="nannytime" nzPlaceHolder="请选择看护时长">
            <nz-option *ngFor="let item of Attribute.nannytime.list" [nzLabel]="item.name" [nzValue]="item.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">父亲工作</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input formControlName="father_job" placeholder="请输入父亲工作">
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">母亲工作</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input formControlName="mother_job" placeholder="请输入母亲工作">
        </nz-form-control> 
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
<nz-col [nzSpan]="30" class="sgroup">
    <nz-form-item>
      <nz-form-label [nzSpan]="2">家长痛点</nz-form-label>
      <nz-form-control [nzSpan]="22" >
          <nz-checkbox-group  [(ngModel)]="Attribute.problems.list"  (ngModelChange)="checkboxChange($event)"></nz-checkbox-group>
        <a style="margin-left:10px;" (click)="editList('problems','家长痛点')">编辑家长痛点</a>
      </nz-form-control>
    </nz-form-item>
  </nz-col>
  <div style="clear:both;">
  <button class="save-top" (click)="saveTop('formGroupTop')" [style.margin-top]="'4px'" nz-button nzType="primary"
    [nzLoading]="saveTopLoading">确认保存</button>
  </div>
  </div>
<ea-quote>跟进情况</ea-quote>
<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>跟进方式</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="followType" nzPlaceHolder="跟进方式">
            <nz-option *ngFor="let item of followTypeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('followType')">请选择跟进方式</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" *ngIf="formGroup.get('visitStatusId').value === 1">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>跟进时间</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-date-picker formControlName="nextFollowTime" [nzShowToday]="false" nzFormat="yyyy-MM-dd"
            nzPlaceHolder="选择下次跟进时间" [nzDisabledDate]="_disabledDate"></nz-date-picker>
          <nz-form-explain *ngIf="valid('nextFollowTime')">请选择下次跟进时间</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="8" *ngIf="formGroup.get('followType').value === 1">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>跟进记录</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 3, maxRows: 6 }"
            placeholder="请输入跟踪记录，必填"></textarea>
          <nz-form-explain *ngIf="valid('content')">请输入跟进记录！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8" *ngIf="formGroup.get('followType').value === 2">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>聊天截图</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <ea-upload-picture [maxLength]="10" formControlName="wxImage"></ea-upload-picture>
          <nz-form-explain *ngIf="valid('wxImage')">请上传聊天截图</nz-form-explain>
          <div style="font-size:11px; clear:both; display:block; color: #333;">请上传2MB内JPG,JPEG,PNG,GIF格式的文件(最多上传10张)
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>客户状态</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="visitStatusId" nzPlaceHolder="客户状态">
            <nz-option *ngFor="let item of memberStatusList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('visitStatusId')">请选择客户状态</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" [hidden]="formGroup.get('visitStatusId').value != 1" >
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>跟进内容</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="followStageId" nzPlaceHolder="跟进内容">
            <nz-option *ngFor="let item of stepList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('followStageId')">请选择跟进内容</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 3">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>无意向原因</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-radio-group formControlName="reason">
            <label nz-radio [nzValue]="item.key" *ngFor="let item of Attribute.reason.list">{{ item.name }}</label>
          </nz-radio-group>
          <a (click)="editList('reason','无意向原因')">编辑无意向原因</a>
          <nz-form-explain *ngIf="valid('reason')">请选择无意向原因</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!-- 参加活动 -->
  <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 1 && formGroup.get('followStageId').value === 6">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>活动名称</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="activity" nzPlaceHolder="跟进内容">
            <nz-option *ngFor="let item of Attribute.activity.list" [nzLabel]="item.name" [nzValue]="item.key">
            </nz-option>
          </nz-select>
          <a (click)="editList('activity','活动列表')">编辑活动列表</a>
          <nz-form-explain *ngIf="valid('activity')">请选择活动名称</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- 赠送礼品 -->
  <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 1 && formGroup.get('followStageId').value === 7">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>礼品名称</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="gift" nzPlaceHolder="礼品名称">
            <nz-option *ngFor="let item of Attribute.gift.list" [nzLabel]="item.name" [nzValue]="item.key"></nz-option>
          </nz-select>
          <a (click)="editList('gift','礼品列表')">编辑礼品列表</a>
          <nz-form-explain *ngIf="valid('gift')">请选择礼品名称</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- 预约参观 -->
  <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 1 && formGroup.get('followStageId').value === 8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>参观时间</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-date-picker formControlName="orderDate" [nzShowToday]="false" nzFormat="yyyy-MM-dd"
            nzPlaceHolder="选择参观时间"></nz-date-picker>
          <nz-form-explain *ngIf="valid('orderDate')">请选择参观时间</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

    <!-- 到园参观 -->
    <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 1 && formGroup.get('followStageId').value === 9">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>实际到店时间</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <nz-date-picker formControlName="arriveDate" [nzShowToday]="false" nzFormat="yyyy-MM-dd"
              nzPlaceHolder="选择实际到店时间"></nz-date-picker>
            <nz-form-explain *ngIf="valid('arriveDate')">请选择实际到店时间</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>接待老师</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <nz-select formControlName="receptionTeacher" nzPlaceHolder="接待老师">
              <nz-option *ngFor="let item of teacherList" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="valid('visitStatusId')">请选择接待老师</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>参观人</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <input nz-input formControlName="visitName" placeholder="请输入参观人姓名">
            <nz-form-explain *ngIf="valid('visitName')">请输入参观人姓名</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>家长关注重点</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <input nz-input formControlName="point" placeholder="请输入家长关注重点">

            <nz-form-explain *ngIf="valid('point')">请输入家长关注重点</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>家长的顾虑</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <input nz-input formControlName="worry" placeholder="请输入家长的顾虑">
            <nz-form-explain *ngIf="valid('worry')">请输入家长的顾虑</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- 预约体验 -->
    <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 1 && formGroup.get('followStageId').value === 10">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzRequired>班级</nz-form-label>
                <nz-form-control [nzSpan]="19">
                    <nz-select formControlName="reserveClassId" nzPlaceHolder="请选择班级">
                        <nz-option *ngFor="let item of classList" [nzLabel]="item.className" [nzValue]="item.classId"></nz-option>
                      </nz-select>
                      <nz-form-explain *ngIf="valid('reserveClassId')">请选择班级</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzRequired>体验时间</nz-form-label>
                <nz-form-control [nzSpan]="19">
                    <nz-date-picker formControlName="experienceDate" [nzShowToday]="false" nzFormat="yyyy-MM-dd"
                    nzPlaceHolder="选择体验时间"></nz-date-picker>
                  <nz-form-explain *ngIf="valid('experienceDate')">请选择体验时间</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
        </div>
    </div> 
    <!-- 到园体验 -->
    <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 1 && formGroup.get('followStageId').value === 11">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>实际到店时间</nz-form-label>
            <nz-form-control [nzSpan]="19">
              <nz-date-picker formControlName="nextStoreDate" [nzShowToday]="false" nzFormat="yyyy-MM-dd"
                nzPlaceHolder="选择实际到店时间"></nz-date-picker>
              <nz-form-explain *ngIf="valid('nextStoreDate')">请选择实际到店时间</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>负责老师</nz-form-label>
            <nz-form-control [nzSpan]="19">
              <nz-select formControlName="responsibleTeacher" nzPlaceHolder="负责老师">
                <nz-option *ngFor="let item of teacherList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="valid('responsibleTeacher')">请选择负责老师</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzRequired>体验时长</nz-form-label>
                <nz-form-control [nzSpan]="19">
                  <nz-select formControlName="experienceTime" nzPlaceHolder="体验时长">
                    <nz-option *ngFor="let item of experienceTimeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="valid('experienceTime')">请选择体验时长</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
        </div> 

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>家长关注重点</nz-form-label>
            <nz-form-control [nzSpan]="19">
              <input nz-input formControlName="focus" placeholder="请输入家长关注重点">
              <nz-form-explain *ngIf="valid('focus')">请输入家长关注重点</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>家长的顾虑</nz-form-label>
            <nz-form-control [nzSpan]="19">
              <input nz-input formControlName="worry2" placeholder="请输入家长的顾虑">
              <nz-form-explain *ngIf="valid('worry2')">请输入家长的顾虑</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="5" nzRequired>宝宝当天表现</nz-form-label>
              <nz-form-control [nzSpan]="19">
                <input nz-input formControlName="babyPerformance" placeholder="请输入宝宝当天表现">
                <nz-form-explain *ngIf="valid('babyPerformance')">请输入宝宝当天表现</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
      <!-- 逼单转化 -->
      <div nz-row nzGutter="8" *ngIf="formGroup.get('visitStatusId').value === 1 && formGroup.get('followStageId').value === 12">
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzRequired>售卖价目</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                      <input nz-input formControlName="sellingPrice" placeholder="请输入售卖价目">
                      <nz-form-explain *ngIf="valid('sellingPrice')">请输入售卖价目</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzRequired>不缴费的顾虑</nz-form-label>
                  <nz-form-control [nzSpan]="19">
                      <input nz-input formControlName="payWorry" placeholder="请输入不缴费的顾虑">
                      <nz-form-explain *ngIf="valid('payWorry')">请输入不缴费的顾虑</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
          </div>
      </div> 
      <button class="save-top" (click)="save('formGroup')" [style.margin-top]="'4px'" nz-button nzType="primary" [nzLoading]="saveLoading">确认保存</button>
  <!-- <div nz-row nzGutter="8">
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="visitStatusId" nzPlaceHolder="客户状态">
            <nz-option *ngFor="let item of memberStatusList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('visitStatusId')">请选择客户状态</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="teacherId" nzPlaceHolder="跟进老师">
            <nz-option *ngFor="let item of teacherList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('teacherId')">请选择跟进老师</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5" *ngIf="!!(formGroup.get('visitStatusId').value && formGroup.get('visitStatusId').value < 3)">
      <nz-form-item>
        <nz-form-control>
          <nz-date-picker formControlName="nextFollowTime" [nzShowToday]="false" nzFormat="yyyy-MM-dd" nzPlaceHolder="选择下次跟进时间"
            [nzDisabledDate]="_disabledDate"></nz-date-picker>
          <nz-form-explain *ngIf="valid('nextFollowTime')">请选择下次跟进时间</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <ng-container *ngIf="formGroup.get('visitStatusId').value === 2">
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="activityId" nzPlaceHolder="请选择活动">
              <nz-option *ngFor="let item of activityList" [nzLabel]="item.activityName" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="valid('activityId')">请选择活动</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="reserveClassId" nzPlaceHolder="请选择预约班级">
              <nz-option *ngFor="let item of classList" [nzLabel]="item.className" [nzValue]="item.classId"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="valid('reserveClassId')">请选择预约班级</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4" *ngIf="formGroup.get('reserveClassId').value">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzSuffixIcon]="'calendar'">
              <input type="text" nz-input placeholder="请选择预约时间" formControlName="reserveDate" readonly (click)="selectAppoint('formGroup')" />
            </nz-input-group>
            <nz-form-explain *ngIf="valid('reserveDate')">请选择预约时间</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-container>
    
    <button (click)="save('formGroup')" [style.margin-top]="'4px'" nz-button nzType="primary" [nzLoading]="saveLoading">发布</button>
  </div> -->
</form>
<ea-quote>跟踪记录</ea-quote>
<nz-skeleton [nzLoading]="getFollowRecordsLoading" [nzActive]="true">
  <nz-empty *ngIf="!followRecordList.length"></nz-empty>
  <div class="record-list">
    <nz-timeline>
      <nz-timeline-item *ngFor="let item of followRecordList; let idx = index">
        <nz-card [nzTitle]="title" [nzExtra]="extraTemplate">
          <!-- <ng-template #extraTemplate><a (click)="updateFollowRecord(item)">编辑</a></ng-template> -->
          <div class="record-card-title">
            <div><label>跟进时间：</label><span>{{ item.createTime }}</span></div>
            <div><label>下次跟进时间：</label><span>{{ item.nextFollowTime }}</span></div>
            <div><label>客户状态：</label><span>{{ item.visitStatusName }}</span></div>
            <div><label>跟进方式：</label><span>{{ item.followTypeName }}</span></div>
            <div><label>跟进老师：</label><span>{{ item.userName }}</span></div>
            <div  *ngIf="item.formContent.visitStatusId == 3"><label>无意向原因：</label><span>{{ jsonData['reason'][item.formContent.reason] }}</span></div>
            <div  *ngIf="item.formContent.visitStatusId == 1 && item.formContent.followStageId == 6"><label>活动名称：</label><span>{{ jsonData['activity'][item.formContent.activity] }}</span></div>
            <div  *ngIf="item.formContent.visitStatusId == 1 && item.formContent.followStageId == 7"><label>礼品名称：</label><span>{{ jsonData['gift'][item.formContent.gift] }}</span></div>
            <div  *ngIf="item.formContent.visitStatusId == 1 && item.formContent.followStageId == 8"><label>参观时间：</label><span>{{ item.formContent.orderDate }}</span></div>
            <ng-container  *ngIf="item.formContent.visitStatusId == 1 && item.formContent.followStageId == 9">
                <div><label>实际到店时间：</label><span>{{ item.formContent.arriveDate }}</span></div>
                <div><label>接待老师：</label><span>{{ item.formContent.receptionTeacher }}</span></div>
                <div><label>参观人：</label><span>{{ item.formContent.visitName }}</span></div>
                <div><label>家长关注重点：</label><span>{{ item.formContent.point }}</span></div>
                <div><label>家长的顾虑：</label><span>{{ item.formContent.worry }}</span></div>
            </ng-container>
            <ng-container  *ngIf="item.formContent.visitStatusId == 1 && item.formContent.followStageId == 10">
              <div><label>班级：</label><span>{{ classList[item.formContent.reserveClassId] }}</span></div>
              <div><label>体验时间：</label><span>{{ item.formContent.experienceDate }}</span></div>
          </ng-container>
          <ng-container  *ngIf="item.formContent.visitStatusId == 1 && item.formContent.followStageId == 11">
            <div><label>实际到店时间：</label><span>{{ item.formContent.nextStoreDate }}</span></div>
            <div><label>负责老师：</label><span>{{ teacherList[item.formContent.responsibleTeacher] }}</span></div>
            <div><label>体验时长：</label><span>{{ experienceTimeList[item.formContent.experienceTime] }}</span></div>
            <div><label>家长关注重点：</label><span>{{ item.formContent.focus }}</span></div>
            <div><label>家长的顾虑：</label><span>{{ item.formContent.worry2 }}</span></div>
            <div><label>宝宝当天表现：</label><span>{{item.formContent.babyPerformance }}</span></div>
        </ng-container>
        <ng-container  *ngIf="item.formContent.visitStatusId == 1 && item.formContent.followStageId == 12">
          <div><label>售卖价目：</label><span>{{ item.formContent.sellingPrice }}</span></div>
          <div><label>不缴费的顾虑：</label><span>{{ item.formContent.payWorry }}</span></div>
      </ng-container>

            <div *ngIf="item.reserveDate">
              <label>预约时间：</label><span>{{ item.reserveDate }}</span>
            </div>
          </div>
          <div class="wxImg" *ngIf="item.formContent.wxImage.length"><label>微信截图：</label>
            <ng-container *ngFor="let imgItem of item.formContent.wxImage">
            <a [href]="imgItem" target="_blank"><img  [src]="imgItem" /></a>
            </ng-container>
          </div>

          <div class="card-main" [innerHTML]="item.content"></div>
          <ng-template #title>
            <span [style.margin-right]="'8px'">第{{ followRecordList.length - idx }}次跟进</span>
            <ng-container *ngIf="item.status; else elseTemplate">
              <nz-tag nzColor="#2db7f5">已预约到店</nz-tag>
            </ng-container>
            <ng-template #elseTemplate>
              <nz-tag nzColor="#ccc">未预约到店</nz-tag>
            </ng-template>
          </ng-template>
        </nz-card>
      </nz-timeline-item>
    </nz-timeline>
  </div>
</nz-skeleton>



<nz-drawer [nzClosable]="false" [nzWidth]="700" [nzVisible]="showUpdateRecord" nzTitle="修改跟进记录"
  (nzOnClose)="showUpdateRecord = false">
  <!-- <form nz-form [formGroup]="updateFormGroup">
    <nz-form-item>
      <nz-form-control>
        <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 3, maxRows: 6 }"
          placeholder="请输入跟踪记录，必填"></textarea>
        <nz-form-explain *ngIf="validUpdateControl('content')">请输入跟进记录！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="visitStatusId" nzPlaceHolder="客户状态">
              <nz-option *ngFor="let item of memberStatusList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validUpdateControl('visitStatusId')">请选择客户状态</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="followType" nzPlaceHolder="跟进方式">
              <nz-option *ngFor="let item of followTypeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validUpdateControl('followType')">请选择跟进方式</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="teacherId" nzPlaceHolder="跟进老师">
              <nz-option *ngFor="let item of teacherList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validUpdateControl('teacherId')">请选择跟进老师</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6"
        *ngIf="!!(updateFormGroup.get('visitStatusId').value && updateFormGroup.get('visitStatusId').value < 3)">
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker formControlName="nextFollowTime" [nzShowToday]="false" nzFormat="yyyy-MM-dd"
              nzPlaceHolder="选择下次跟进时间" [nzDisabledDate]="_disabledDate"></nz-date-picker>
            <nz-form-explain *ngIf="validUpdateControl('nextFollowTime')">请选择下次跟进时间</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <ng-container *ngIf="updateFormGroup.get('visitStatusId').value === 2">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-control>
              <nz-select formControlName="activityId" nzPlaceHolder="请选择活动">
                <nz-option *ngFor="let item of activityList" [nzLabel]="item.activityName" [nzValue]="item.id">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="validUpdateControl('activityId')">请选择活动</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-control>
              <nz-select formControlName="reserveClassId" nzPlaceHolder="请选择预约班级">
                <nz-option *ngFor="let item of classList" [nzLabel]="item.className" [nzValue]="item.classId">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="validUpdateControl('reserveClassId')">请选择预约班级</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6" *ngIf="updateFormGroup.get('reserveClassId').value">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group [nzSuffixIcon]="'calendar'">
                <input type="text" nz-input placeholder="请选择预约时间" formControlName="reserveDate" readonly
                  (click)="selectAppoint('updateFormGroup')" />
              </nz-input-group>
              <nz-form-explain *ngIf="validUpdateControl('reserveDate')">请选择预约时间</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
    </div>
  </form> -->

  <div class="drawer-footer">
    <button nz-button (click)="showUpdateRecord = false">取消</button>
    <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save('updateFormGroup')">保存</button>
  </div>
</nz-drawer>