<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 3, maxRows: 6 }" placeholder="请输入跟踪记录，必填"></textarea>
      <nz-form-explain *ngIf="valid('content')">请输入跟进记录！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="visitStatusId" nzPlaceHolder="客户状态">
            <nz-option *ngFor="let item of memberStatusList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('visitStatusId')">请选择客户状态</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="followType" nzPlaceHolder="跟进方式">
            <nz-option *ngFor="let item of followTypeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('followType')">请选择跟进方式</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="teacherId" nzPlaceHolder="跟进老师">
            <nz-option *ngFor="let item of teacherList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('teacherId')">请选择跟进老师</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5" *ngIf="!!(formGroup.get('visitStatusId').value && formGroup.get('visitStatusId').value < 3)">
      <nz-form-item>
        <nz-form-control>
          <nz-date-picker formControlName="nextFollowTime" nzFormat="yyyy-MM-dd" nzPlaceHolder="选择下次跟进时间"
            [nzDisabledDate]="_disabledDate"></nz-date-picker>
          <nz-form-explain *ngIf="valid('nextFollowTime')">请选择下次跟进时间</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <ng-container *ngIf="formGroup.get('visitStatusId').value === 2">
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="activityId" nzPlaceHolder="请选择活动">
              <nz-option *ngFor="let item of activityList" [nzLabel]="item.activityName" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="valid('activityId')">请选择活动</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="reserveClassId" nzPlaceHolder="请选择预约班级">
              <nz-option *ngFor="let item of classList" [nzLabel]="item.className" [nzValue]="item.classId"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="valid('reserveClassId')">请选择预约班级</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4" *ngIf="formGroup.get('reserveClassId').value">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzSuffixIcon]="'calendar'">
              <input type="text" nz-input placeholder="请选择预约时间" formControlName="reserveDate" readonly (click)="selectAppoint('formGroup')" />
            </nz-input-group>
            <nz-form-explain *ngIf="valid('reserveDate')">请选择预约时间</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-container>
    
    <button (click)="save('formGroup')" [style.margin-top]="'4px'" nz-button nzType="primary" [nzLoading]="saveLoading">发布</button>
  </div>
</form>
<ea-quote>跟踪记录</ea-quote>
<nz-skeleton [nzLoading]="getFollowRecordsLoading" [nzActive]="true">
  <nz-empty *ngIf="!followRecordList.length"></nz-empty>
  <div class="record-list">
    <nz-timeline>
      <nz-timeline-item *ngFor="let item of followRecordList; let idx = index">
        <nz-card [nzTitle]="title" [nzExtra]="extraTemplate">
          <ng-template #extraTemplate><a (click)="updateFollowRecord(item)">编辑</a></ng-template>
          <div class="record-card-title">
            <div><label>跟进时间：</label><span>{{ item.createTime }}</span></div>
            <div><label>下次跟进时间：</label><span>{{ item.nextFollowTime }}</span></div>
            <div><label>客户状态：</label><span>{{ item.visitStatusName }}</span></div>
            <div><label>跟进方式：</label><span>{{ item.followTypeName }}</span></div>
            <div><label>跟进老师：</label><span>{{ item.teacherName }}</span></div>
            <div *ngIf="item.reserveDate">
              <label>预约时间：</label><span>{{ item.reserveDate }}</span>
            </div>
          </div>
          <div class="card-main" [innerHTML]="item.content"></div>
          <ng-template #title>
            <span [style.margin-right]="'8px'">第{{ followRecordList.length - idx }}次跟进</span>
            <ng-container *ngIf="item.status; else elseTemplate">
              <nz-tag nzColor="#2db7f5">已预约到店</nz-tag>
            </ng-container>
            <ng-template #elseTemplate>
              <nz-tag nzColor="#ccc">未预约到店</nz-tag>
            </ng-template>
          </ng-template>
        </nz-card>
      </nz-timeline-item>
    </nz-timeline>
  </div>
</nz-skeleton>



<nz-drawer [nzClosable]="false" [nzWidth]="700" [nzVisible]="showUpdateRecord" nzTitle="修改跟进记录" (nzOnClose)="showUpdateRecord = false">
  <form nz-form [formGroup]="updateFormGroup">
    <nz-form-item>
      <nz-form-control>
        <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 3, maxRows: 6 }"
          placeholder="请输入跟踪记录，必填"></textarea>
        <nz-form-explain *ngIf="validUpdateControl('content')">请输入跟进记录！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="visitStatusId" nzPlaceHolder="客户状态">
              <nz-option *ngFor="let item of memberStatusList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validUpdateControl('visitStatusId')">请选择客户状态</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="followType" nzPlaceHolder="跟进方式">
              <nz-option *ngFor="let item of followTypeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validUpdateControl('followType')">请选择跟进方式</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="teacherId" nzPlaceHolder="跟进老师">
              <nz-option *ngFor="let item of teacherList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validUpdateControl('teacherId')">请选择跟进老师</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6" *ngIf="!!(updateFormGroup.get('visitStatusId').value && updateFormGroup.get('visitStatusId').value < 3)">
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker formControlName="nextFollowTime" nzFormat="yyyy-MM-dd" nzPlaceHolder="选择下次跟进时间"
              [nzDisabledDate]="_disabledDate"></nz-date-picker>
            <nz-form-explain *ngIf="validUpdateControl('nextFollowTime')">请选择下次跟进时间</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <ng-container *ngIf="updateFormGroup.get('visitStatusId').value === 2">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-control>
              <nz-select formControlName="activityId" nzPlaceHolder="请选择活动">
                <nz-option *ngFor="let item of activityList" [nzLabel]="item.activityName" [nzValue]="item.id">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="validUpdateControl('activityId')">请选择活动</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-control>
              <nz-select formControlName="reserveClassId" nzPlaceHolder="请选择预约班级">
                <nz-option *ngFor="let item of classList" [nzLabel]="item.className" [nzValue]="item.classId"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="validUpdateControl('reserveClassId')">请选择预约班级</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6" *ngIf="updateFormGroup.get('reserveClassId').value">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group [nzSuffixIcon]="'calendar'">
                <input type="text" nz-input placeholder="请选择预约时间" formControlName="reserveDate" readonly
                  (click)="selectAppoint('updateFormGroup')" />
              </nz-input-group>
              <nz-form-explain *ngIf="validUpdateControl('reserveDate')">请选择预约时间</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
    </div>
  </form>

  <div class="drawer-footer">
    <button nz-button (click)="showUpdateRecord = false">取消</button>
    <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save('updateFormGroup')">保存</button>
  </div>
</nz-drawer>