<ea-table 
  url="/student/getTransactionRecordList" 
  [paramsDefault]="{ studentId: studentId }"
  [thead]="['名称', '单价', '折扣', '支付金额', '赠送（天）', '成单时间', '开卡时间', '到期时间', '所属销售', '缴费性质', '备注']"
  [EaTableTbodyTr]="EaTableTbodyTr">
  <ng-template let-data #EaTableTbodyTr>
    <td>{{ data.name }}</td>
    <td>{{ data.price }}</td>
    <td>{{ data.discount }}</td>
    <td>{{ data.balance }}</td>
    <td>{{ data.freeDay }}</td>
    <td>{{ data.createTime }}</td>
    <td>{{ data.effectDate }}</td>
    <td>{{ data.expireDate }}</td>
    <td>{{ data.teacherName }}</td>
    <td>{{ data.payMethod ? '全款' : '分期' }}</td>
    <td>{{ data.comment }}</td>
  </ng-template>
</ea-table>