<div class="main" id="app">
    <img src="http://test.stat.haochengzhang.com/ylbb-system-kindergarten/assets/images/background-hj.png" alt="" srcset="">
    <div class="main-detail">
        <div>宝&nbsp;&nbsp;宝：{{ detailData.studentName }}</div>
        <div>月&nbsp;&nbsp;龄：{{ detailData.monthAge }}</div>
        <div>记录人：{{ detailData.teacherName }}</div>
        <div>体&nbsp;&nbsp;温：{{ detailData.temperature }}</div>
        <div>{{ detailData.year }}</div>
        <div>{{ detailData.month }}/{{ detailData.day }}</div>
        <div>- {{ detailData.week }} -</div>
        <div class="imglist" *ngFor="let data of arrList" >
            <div>
                <img [src]="data.url">
            </div>
            <span>{{ data.text }}</span>
        </div>
 
    </div>
    <div class="lastchild-a">
        <div class="title">成长与发展</div>
        <div class="text" :style="'font-size:' + fontsizea+'px'">
            {{ footera }}
        </div>
    </div>
    <div class="lastchild-b">
        <div class="title">老师说</div>
        <div class="text" :style="'font-size:' + fontsizeb+'px'">
                {{ footerb }}
            </div>
    </div>
</div>