<div class="container">
    <nz-tabset>
        <nz-tab *ngFor="let item of listClass" [(nzTitle)]="item.className" (nzSelect)="selectClass(item.id)"></nz-tab>
    </nz-tabset>
    <div class="top-nav">
        <nz-radio-group [(ngModel)]="week">
            <label nz-radio-button nzValue="0" (click)="prveDate()"><span>上周</span></label>
            <label nz-radio-button nzValue="1" (click)="nowDate()"><span>本周</span></label>
            <label nz-radio-button nzValue="2" (click)="nextDate()"><span>下周</span></label>
          </nz-radio-group>
          <div style="float:right;">
            <button nz-button nzType="primary" style="margin-right:10px;">下载课表</button>
            <button nz-button nzType="primary" (click)="addCustomer()">排课/调整</button>
          </div>
        </div>

        <nz-table #basicTable [nzData]="dataList" nzShowPagination="false" [nzScroll]="{ x:'1700px' }">
            <thead>
              <tr>
                <th nzWidth="150px">日期</th>
                <th>星期一<br>{{ startDate }}</th>
                <th>星期二<br>{{ Tuesday }}</th>
                <th>星期三<br>{{ Wednesday }}</th>
                <th>星期四<br>{{ Thursday }}</th>
                <th>星期五<br>{{ Friday }}</th>
                <th>星期六<br>{{ Saturday }}</th>    
                <th>星期日<br>{{ endDate }}</th>                 
              </tr>
            </thead>
            <tbody>
              <tr class="dateList" *ngFor="let data of dataList">
                <td>
                  <p>{{data.startHour>9 ? data.startHour : '0'+ data.startHour}}:{{data.startMinute>9 ? data.startMinute : '0'+ data.startMinute}}-{{data.endHour>9 ? data.endHour : '0'+ data.endHour}}:{{data.endMinute>9 ? data.endMinute : '0'+ data.endMinute}}</p>
                  <p *ngIf="data.englishName">{{ data.englishName }}</p>
                  <p>{{ data.name }}</p>
                </td>
                <td [attr.colspan]="data.courseTypes == null ? 7 : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == startDate ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                          <p>{{ xmain.data.typeName }}</p>
                                          <p>{{ xmain.data.name }}</p>
                                          <p>课程目标：{{ xmain.data.goal }}</p>
                                          <p>课程收获：{{ xmain.data.gain }}</p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                      </div>
                      <ng-container *ngIf="data.courseTypes == null">
                            {{ data.content }}
                      </ng-container>   
                </td>
                <td *ngIf="data.courseTypes != null">
                    <div>
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Tuesday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                          <p>{{ xmain.data.typeName }}</p>
                                          <p>{{ xmain.data.name }}</p>
                                          <p>课程目标：{{ xmain.data.goal }}</p>
                                          <p>课程收获：{{ xmain.data.gain }}</p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                      </div>
                </td>
                <td *ngIf="data.courseTypes != null">
                    <div>
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Wednesday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                          <p>{{ xmain.data.typeName }}</p>
                                          <p>{{ xmain.data.name }}</p>
                                          <p>课程目标：{{ xmain.data.goal }}</p>
                                          <p>课程收获：{{ xmain.data.gain }}</p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                      </div>
                </td>
                <td *ngIf="data.courseTypes != null">
                  <div>
                    <ng-container *ngFor="let item of courseDayList">
                        <ng-container *ngIf="item.configDate == Thursday ">
                            <ng-container *ngFor="let xmain of item.courseList">
                                <ng-container *ngIf="xmain.template == data.id">
                                    <ng-container *ngIf="xmain.data">
                                      <p>{{ xmain.data.typeName }}</p>
                                      <p>{{ xmain.data.name }}</p>
                                      <p>课程目标：{{ xmain.data.goal }}</p>
                                      <p>课程收获：{{ xmain.data.gain }}</p>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                  </div>
                </td>
                <td *ngIf="data.courseTypes != null">
                    <div>
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Friday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                          <p>{{ xmain.data.typeName }}</p>
                                          <p>{{ xmain.data.name }}</p>
                                          <p>课程目标：{{ xmain.data.goal }}</p>
                                          <p>课程收获：{{ xmain.data.gain }}</p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                      </div>
                </td>
                <td *ngIf="data.courseTypes != null">
                    <div>
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Saturday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                          <p>{{ xmain.data.typeName }}</p>
                                          <p>{{ xmain.data.name }}</p>
                                          <p>课程目标：{{ xmain.data.goal }}</p>
                                          <p>课程收获：{{ xmain.data.gain }}</p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                      </div>
                </td>
                <td *ngIf="data.courseTypes != null">
                    <div>
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == endDate ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                          <p>{{ xmain.data.typeName }}</p>
                                          <p>{{ xmain.data.name }}</p>
                                          <p>课程目标：{{ xmain.data.goal }}</p>
                                          <p>课程收获：{{ xmain.data.gain }}</p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                      </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
</div>