<div class="container">
    <nz-tabset>
        <nz-tab *ngFor="let item of listClass" [(nzTitle)]="item.className" (nzSelect)="selectClass(item.id)"></nz-tab>
    </nz-tabset>
    <div class="top-nav">
        <nz-radio-group [(ngModel)]="week">
            <label nz-radio-button nzValue="0" (click)="prveDate()"><span>上周</span></label>
            <label nz-radio-button nzValue="1" (click)="nowDate()"><span>本周</span></label>
            <label nz-radio-button nzValue="2" (click)="nextDate()"><span>下周</span></label>
        </nz-radio-group>
        <div style="float:right;">
            <!-- <button nz-button nzType="primary" style="margin-right:10px;" (click)="print()">打印课表</button> -->
            <button nz-button nzType="primary" (click)="addCustomer()">排课/调整</button>
        </div>
    </div>

    <nz-table #borderedTable #basicTable #basicTable [nzData]="dataList" class="pardata" nzShowPagination="false"
        [nzScroll]="{ x:'1800px' , y: scrollHeight +'px' }" id="print-div">
        <thead>
            <tr>
                <th nzLeft="0px" nzWidth="150px">
                    <div style="text-align:center; width: 200px;"> 日期</div>
                </th>
                <th nzWidth="200px">
                    <div style="text-align:center; width: 200px;"> Mon.<br>星期一({{ startDate }})</div>
                </th>
                <th nzWidth="200px">
                    <div style="text-align:center; width: 200px;"> Tue.<br>星期二({{ Tuesday }})</div>
                </th>
                <th nzWidth="200px">
                    <div style="text-align:center; width: 200px;"> Wed.<br>星期三({{ Wednesday }})</div>
                </th>
                <th nzWidth="200px">
                    <div style="text-align:center; width: 200px;"> Thur.<br>星期四({{ Thursday }})</div>
                </th>
                <th nzWidth="200px">
                    <div style="text-align:center; width: 200px;"> Fri.<br>星期五({{ Friday }})</div>
                </th>
                <th nzWidth="200px">
                    <div style="text-align:center; width: 200px;"> Sat.<br>星期六({{ Saturday }})</div>
                </th>
                <th nzWidth="200px">
                    <div style="text-align:center; width: 200px;"> Sun.<br>星期日({{ endDate }})</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="dateList" *ngFor="let data of dataList; let index = index">
                <td nzLeft="0px">
                    <p style="margin-bottom:0; margin-top:10px;">
                        {{data.startHour>9 ? data.startHour : '0'+ data.startHour}}:{{data.startMinute>9 ? data.startMinute : '0'+ data.startMinute}}-{{data.endHour>9 ? data.endHour : '0'+ data.endHour}}:{{data.endMinute>9 ? data.endMinute : '0'+ data.endMinute}}
                    </p>
                    <p style="margin-bottom:0;" *ngIf="data.englishName">{{ data.englishName }}</p>
                    <p style="margin-bottom:.5em">{{ data.name }}</p>
                </td>
                <td
                    [attr.colspan]="data.courseTypes == null && listWeek[0].status && !listWeek[0].isOverflow ? listWeek[0].num : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == startDate ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                            <a (click)="classDetail(xmain)">
                                                <p style="margin-bottom:5px; margin-top:0;">{{ xmain.data.typeName }}
                                                </p>
                                                <p style="margin-bottom:5px; margin-top:0;">《{{ xmain.data.name }}》</p>
                                                <p style="margin-bottom:5px; margin-top:0;">目标：{{ xmain.data.goal }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">收获：{{ xmain.data.gain }}</p>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="data.courseTypes == null && listWeek[0].status">
                        <div [innerHTML]="data.content" style="text-align:center;"></div>
                    </ng-container>

                </td>
                <td *ngIf="data.courseTypes != null || !(listWeek[1].isOverflow && listWeek[1].status)"
                    [attr.colspan]="data.courseTypes == null && listWeek[1].status && !listWeek[1].isOverflow ? listWeek[1].num : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Tuesday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                            <a (click)="classDetail(xmain)">

                                                <p style="margin-bottom:5px; margin-top:0;">{{ xmain.data.typeName }}
                                                </p>
                                                <p style="margin-bottom:5px; margin-top:0;">《{{ xmain.data.name }}》</p>
                                                <p style="margin-bottom:5px; margin-top:0;">目标：{{ xmain.data.goal }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">收获：{{ xmain.data.gain }}</p>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="data.courseTypes == null && listWeek[1].status">
                        <div [innerHTML]="data.content" style="text-align:center;"></div>
                    </ng-container>
                </td>
                <td *ngIf="data.courseTypes != null || !(listWeek[2].isOverflow && listWeek[2].status)"
                    [attr.colspan]="data.courseTypes == null && listWeek[2].status && !listWeek[2].isOverflow ? listWeek[2].num : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Wednesday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                            <a (click)="classDetail(xmain)">

                                                <p style="margin-bottom:5px; margin-top:0;">{{ xmain.data.typeName }}
                                                </p>
                                                <p style="margin-bottom:5px; margin-top:0;">《{{ xmain.data.name }}》</p>
                                                <p style="margin-bottom:5px; margin-top:0;">目标：{{ xmain.data.goal }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">收获：{{ xmain.data.gain }}</p>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="data.courseTypes == null && listWeek[2].status">
                        <div [innerHTML]="data.content" style="text-align:center;"></div>
                    </ng-container>
                </td>
                <td *ngIf="data.courseTypes != null || !(listWeek[3].isOverflow && listWeek[3].status)"
                    [attr.colspan]="data.courseTypes == null && listWeek[3].status && !listWeek[3].isOverflow ? listWeek[3].num : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Thursday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                            <a (click)="classDetail(xmain)">

                                                <p style="margin-bottom:5px; margin-top:0;">{{ xmain.data.typeName }}
                                                </p>
                                                <p style="margin-bottom:5px; margin-top:0;">《{{ xmain.data.name }}》</p>
                                                <p style="margin-bottom:5px; margin-top:0;">目标：{{ xmain.data.goal }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">收获：{{ xmain.data.gain }}</p>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="data.courseTypes == null && listWeek[3].status">
                        <div [innerHTML]="data.content" style="text-align:center;"></div>
                    </ng-container>
                </td>
                <td *ngIf="data.courseTypes != null || !(listWeek[4].isOverflow && listWeek[4].status)"
                    [attr.colspan]="data.courseTypes == null && listWeek[4].status && !listWeek[4].isOverflow ? listWeek[4].num : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Friday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                            <a (click)="classDetail(xmain)">

                                                <p style="margin-bottom:5px; margin-top:0;">{{ xmain.data.typeName }}
                                                </p>
                                                <p style="margin-bottom:5px; margin-top:0;">《{{ xmain.data.name }}》</p>
                                                <p style="margin-bottom:5px; margin-top:0;">目标：{{ xmain.data.goal }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">收获：{{ xmain.data.gain }}</p>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="data.courseTypes == null && listWeek[4].status">
                        <div [innerHTML]="data.content" style="text-align:center;"></div>
                    </ng-container>
                </td>
                <td *ngIf="data.courseTypes != null || !(listWeek[5].isOverflow && listWeek[5].status)"
                    [attr.colspan]="data.courseTypes == null && listWeek[5].status && !listWeek[5].isOverflow ? listWeek[5].num : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == Saturday ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                            <a (click)="classDetail(xmain)">
                                                <p style="margin-bottom:5px; margin-top:0;">{{ xmain.data.typeName }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">《{{ xmain.data.name }}》</p>
                                                <p style="margin-bottom:5px; margin-top:0;">目标：{{ xmain.data.goal }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">收获：{{ xmain.data.gain }}</p>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="data.courseTypes == null && listWeek[5].status">
                        <div [innerHTML]="data.content" style="text-align:center;"></div>
                    </ng-container>
                </td>
                <td *ngIf="data.courseTypes != null || !(listWeek[6].isOverflow && listWeek[6].status)"
                    [attr.colspan]="data.courseTypes == null && listWeek[6].status && !listWeek[6].isOverflow ? listWeek[6].num : 1">
                    <div *ngIf="data.courseTypes != null">
                        <ng-container *ngFor="let item of courseDayList">
                            <ng-container *ngIf="item.configDate == endDate ">
                                <ng-container *ngFor="let xmain of item.courseList">
                                    <ng-container *ngIf="xmain.template == data.id">
                                        <ng-container *ngIf="xmain.data">
                                            <a (click)="classDetail(xmain)">

                                                <p style="margin-bottom:5px; margin-top:0;">{{ xmain.data.typeName }}
                                                </p>
                                                <p style="margin-bottom:5px; margin-top:0;">《{{ xmain.data.name }}》</p>
                                                <p style="margin-bottom:5px; margin-top:0;">目标：{{ xmain.data.goal }}</p>
                                                <p style="margin-bottom:5px; margin-top:0;">收获：{{ xmain.data.gain }}</p>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="data.courseTypes == null && listWeek[6].status">
                        <div [innerHTML]="data.content" style="text-align:center;"></div>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>