<div class="container">
  <ea-query [node]="queryNode" (onSubmit)="EaTable.request($event)"></ea-query>

  <div class="ea-button-group">
    <button nz-button [nzType]="'primary'" style="margin-bottom: 16px;" (click)="addCustomer()">新增客户线索</button>
    <button nz-button (click)="import()">导入客户</button>
  </div>

  <ea-tip [isShow]="checkedItems.length" type="info">
    选择
    <a href="javascript: void(0)">{{ checkedItems.length }}条</a> 相关记录分配给
    <nz-select style="width: 120px; margin-right: 12px;" nzSize="small" [(ngModel)]="teacherId" nzPlaceHolder="选择老师">
      <nz-option *ngFor="let option of teacherList" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
    </nz-select>
    <a href="javascript:;" (click)="distribution()">确认分配</a>
  </ea-tip>

  <ea-table #EaTable [timeout]="1000" [thead]="tableNode" [paramsDefault]="paramsDefault" [checked]="true" [checkedItems]="checkedItems" [isParamJson]="false" [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false" [url]="domainEs + '/czg/threadQuery'">
    <ng-template let-data #EaTableTbodyTr>
      <td><a (click)="preview({id: data.id, source: 'visit'})">{{ data.nick }}</a></td>
      <td><a (click)="preview({id: data.id, source: 'visit'})">{{ data.name }}</a></td>
      <td>{{ data.birthday || '--' }}</td>
      <td>{{ data.sex }}</td>
      <td>{{ data.monthAge }}</td>
      <td>{{ data.parentName }}</td>
      <td>{{ data.mobile }}</td>
      <td>{{ data.threadCreateTime }}</td>
      <td>{{ data.nextFollowTime || '--' }}</td>
      <td>{{ data.lastFollowTime || '--' }}</td>
      <td>{{ data.sourceName || '--' }}</td>
      <td>{{ data.threadClientStatusName }}</td>
      <td>{{ data.threadFollowStatusName }}</td>
      <td>{{ data.collectorName || '--' }}</td>
      <td>{{ data.activityName || '-' }}</td>
      <td>{{ data.followerName || '-' }}</td>
    </ng-template>
  </ea-table>
</div>