<div class="axcon">
<div class="left">
<div class="smsTemplate">
    <form nz-form [formGroup]="formGroup">
      <div nz-row nzGutter="8">
          <nz-form-label style="float: left;">短信模板</nz-form-label>
          <nz-form-control style="width:200px; float: left;">
            <nz-select [nzShowSearch]="true" [nzAllowClear]="true" formControlName="template" nzPlaceHolder="请选择短信模板">
              <nz-option *ngFor="let option of smsTemplateList" [nzLabel]="option.title" [nzValue]="option.id"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
      <div nz-row nzGutter="8">
          <nz-form-label nzRequired nzFor="content">短信内容</nz-form-label>
          <nz-form-control class="message-control">
            <nz-form-text>【{{ brandName }}】</nz-form-text>
            <nz-input-group [nzSuffix]="suffixTemplate">
              <textarea nz-input placeholder="请输入短信内容" formControlName="content" id="content" [nzAutosize]="{ minRows: 4, maxRows: 6 }"></textarea>
            </nz-input-group>
            <nz-form-text>回复TD退订</nz-form-text>
            <ng-template #suffixTemplate >
              <div style="padding-top:60px;">
              <span [style.color]="formGroup.get('content').value && formGroup.get('content').value.length > (70 - (brandName.length + 8)) ? '#f5222d' : ''">
                {{ formGroup.get('content').value ? formGroup.get('content').value.length + brandName.length + 8 : brandName.length + 8 }}
              </span>
              <span>/70</span>
            </div>
            </ng-template>
            <nz-form-explain *ngIf="formGroup.get('content').dirty && formGroup.get('content').hasError('required')">请输入短信内容！</nz-form-explain>
          </nz-form-control>
      </div>
  
    </form>
</div>



<div class="container" style="padding-top:0; margin-top: 0; padding-bottom: 0;">
    <nz-form-label nzRequired >选择发送短信的学员</nz-form-label>

  <ea-query [node]="queryNode" (onSubmit)="query($event)"></ea-query>
</div>

<nz-card [style.margin-top]="'24px'" [nzLoading]="queryLoading"  >
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="24">
      <nz-transfer
        [nzDataSource]="transferList"
        nzShowSearch
        [nzTitles]="['客户列表', '待发送短信列表']"
        [nzListStyle]="{'width': '50%', 'height.px': 500}"
        (nzChange)="change($event)"
        [nzRender]="render">
        <ng-template #render let-item>
          {{ item.nickName || '--'}}
          <nz-divider nzType="vertical"></nz-divider>
          {{ item.studentName || '暂无' }}
          <nz-divider nzType="vertical"></nz-divider>
          {{ item.mobilePhone }}
          <nz-divider nzType="vertical"></nz-divider>
          {{ item.memberFromName || '--' }}
          <nz-divider nzType="vertical"></nz-divider>
          {{ item.className || '--' }}
  
        </ng-template>
      </nz-transfer>
    </div>

  </div>
</nz-card>
</div>
<div class="right">
    <div class="phone_mode">
        <div class="phone-text">
          <div *ngFor="let item of watchContent">
            <span>
                {{ item }}
            </span>
          </div>
        </div>
    </div>
    <div class="text-desc">
        不同手机显示效果不同，请以实际发送效果为准
    </div>
    <div class="header">
        <div style="line-height: 40px; overflow: hidden;">
        <span style="margin-left:70px;">目前短信剩余条数：</span>
        <span style="font-size: 24px; margin-right: 12px; ">{{ smsBalanceSurplus }}</span>
        <button style="margin-top:8px;" nz-button nzType="primary" nzSize="small" routerLink="/home/configuration/payment/pay">去购买</button>
        </div>
      </div>
        <div class="sms-mode">
            <div><span>本次发送号码数：</span><span [style.color]="'#f5222d'">{{ selectList.length }}</span>个</div>
            <div><span>本次消耗短信条数：</span><span [style.color]="'#f5222d'">{{ sendNum }}</span>条</div>
            <div><span>本次发送后剩余：</span><span [style.color]="'#f5222d'">{{ smsBalance - sendNum }}</span>条</div>
        </div>
        <div class="bottomBtn">
            <button   nz-button (click)="sendout()" nzType="primary">确认发送</button>
        </div>
</div>
</div>