<div class="content">
  <div class="header">
    <nz-tabset (nzSelectChange)="elder($event.index)">
      <nz-tab nzTitle="收入分析">
        <!-- <nz-radio-group [(ngModel)]="pageId" [nzButtonStyle]="'solid'" (ngModelChange)="getform(pageId)">
          <label nz-radio-button nzValue="2">收入分析</label>
        </nz-radio-group> -->
      </nz-tab>
      <nz-tab nzTitle="退费分析">
        <!-- <nz-radio-group [(ngModel)]="pageId" [nzButtonStyle]="'solid'" (ngModelChange)="getform(pageId)">
          <label nz-radio-button nzValue="3">退费分析</label>
        </nz-radio-group> -->
      </nz-tab>
    </nz-tabset>
  </div>
  <div class="header" style="margin-top: 10px;">
    <form [formGroup]="formModel" >

      <span *ngFor="let item of formData.datePickerList; let index = index" [attr.data-index]="index" style="margin:0 15px 10px 0; display: inline-block">
        <nz-form-label>{{item.chineseName}}</nz-form-label>
        <nz-date-picker [formControlName]="item.fieldName" nzFormat="yyyy-MM-dd"></nz-date-picker>
      </span>
      <span *ngFor="let item of formData.selectList; let index = index" [attr.data-index]="index" style="margin:0 15px 10px 0; display: inline-block">
        <nz-form-label>{{item.chineseName}}</nz-form-label>
        <nz-select style="width: 200px;" [formControlName]="item.fieldName" nzPlaceHolder="请选择">
          <nz-option *ngFor="let items of item.dataSource" [nzLabel]="items.name" [nzValue]="items.key"></nz-option>
        </nz-select>
      </span>
      <span *ngFor="let item of formData.textFieldList; let index = index" [attr.data-index]="index" style="margin:0 15px 10px 0; display: inline-block">
        <nz-form-label>{{item.chineseName}}</nz-form-label>
        <input nz-input style="width: 200px;" placeholder="请输入" [formControlName]="item.fieldName">
      </span>
      <span style="margin:0 15px 10px 0; display: inline-block">
        <button nz-button nzType="primary" (click)="subData()">搜索</button>
      </span>
      <span style="margin:0 15px 10px 0; display: inline-block">
        <button nz-button (click)="exports()" *ngIf="!successRate">导出</button>
      </span>
    </form>

  </div>


  <div class="main">
    <nz-table #basicTable [nzData]="ListContent" [nzShowPagination]="false">
      <thead>
        <tr>
          <th *ngFor="let item of ListHeader">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ListContent; let index = index">
          <td *ngFor="let datas of data">{{datas}}</td>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>