<div class="container">
    <div class="ea-button-group">
      <button nz-button [nzType]="'primary'" style="margin-bottom: 16px;" (click)="addCustomer()">添加道具</button>
    </div>
  
    <ea-table #EaTable [thead]="tableNode" [EaTableTbodyTr]="EaTableTbodyTr" [showPage]="false" [allowSpace]="false" [attribute]="true"  [paramsInit]="paramsInit" url="/console/props/all">
      <ng-template let-data #EaTableTbodyTr>
        <td>
          <nz-avatar [nzIcon]="'user'" [nzOverlayStyle]="{padding: '0 !important'}" nzPlacement="rightBottom"
            [nzSrc]="data.imgUrl" nz-tooltip [nzTitle]="data.imgUrl ? titleTemplate : null"></nz-avatar>
          <ng-template #titleTemplate>
            <img [src]="data.imgUrl" [ngStyle]="{'max-width': '226px', 'max-height': '400px', 'transform': 'scale(1.1)'}">
          </ng-template>
        </td>
        <td><a (click)="addCustomer({id: data.id})">{{ data.name }}</a></td>
        <td>{{ data.isSell  }}</td>
        <td>{{ data.privilege  }}</td>
        <td>{{ data.fixedServiceCharge  }}</td>
        <td>{{ data.fixedCashDeposit  }}</td>
        <td>{{ data.dynamicServiceCharge  }}</td>
        <td>{{ data.dynamicCashDeposit  }}</td>
        <td>{{ data.customerImg  }}</td>
        <td>{{ data.createTime || '--' }}</td>
        <td>{{ data.updateTime }}</td>
        <td>
          <ng-container *ngIf="!data.edit; else nameInputTpl">
            {{ sortList[data.index]  }}
          </ng-container>
          <ng-template #nameInputTpl>
            <input type="text" nz-input [(ngModel)]="sortList[data.index]" />
          </ng-template> 
  
        </td>
        <td>{{ data.upShelves }}</td>
        <td>
            <a  *ngIf="!data.edit" (click)="data.edit = true">调整排序</a>
            <ng-container *ngIf="data.edit">
            <a   (click)="saveSort(data)">保存排序</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a   (click)="data.edit = false">取消修改</a>
            </ng-container>
            <nz-divider nzType="vertical"></nz-divider>
          <a  *ngIf="data.upShelves != '上架'" nz-popconfirm nzTitle="确定要上架该商品吗？" (nzOnConfirm)="upShelves(data.id)">上架</a>
          <a  *ngIf="data.upShelves == '上架'" nz-popconfirm nzTitle="确定要下架该商品吗？" (nzOnConfirm)="downShelves(data.id)">下架</a>
          
          
  
        </td>
      </ng-template>
    </ea-table>
  </div>