<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>头像</nz-form-label>
        <nz-form-control>
          <ea-upload-picture formControlName="headPhoto" [maxLength]="1"></ea-upload-picture>
          <nz-form-explain *ngIf="formGroup.get('headPhoto').dirty && formGroup.get('headPhoto').hasError('required')">请上传照片！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="studentName">姓名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入姓名" formControlName="studentName" id="studentName">
          <nz-form-explain *ngIf="formGroup.get('studentName').dirty && formGroup.get('studentName').hasError('required')">请输入姓名！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="nickName">小名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入小名" formControlName="nickName" id="nickName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>性别</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="sex" nzPlaceHolder="请选择老师性别">
            <nz-option nzLabel="男" nzValue="男"></nz-option>
            <nz-option nzLabel="女" nzValue="女"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>出生日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="birthday" nzPlaceHolder="请选择宝宝生日" [nzDisabledDate]="_disabledDate"></nz-date-picker>
          <nz-form-explain *ngIf="formGroup.get('birthday').dirty && formGroup.get('birthday').hasError('required')">请选择出生日期！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>所属班级</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="classId" nzPlaceHolder="请选择所属班级">
            <nz-option *ngFor="let option of classList" [nzLabel]="option.className" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('classId').dirty && formGroup.get('classId').hasError('required')">请选择所属班级！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div formArrayName="accountList">
    <ng-container *ngFor="let group of accountList.controls">
      <div nz-row nzGutter="8" [formGroup]="group">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="accountPhone">家长账号</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="请输入家长手机号（确保家长使用此账号）" maxlength="11" formControlName="accountPhone" id="accountPhone">
              <nz-form-explain *ngIf="group.get('accountPhone').dirty && group.get('accountPhone').hasError('required')">请输入家长账号！</nz-form-explain>
              <nz-form-explain *ngIf="group.get('accountPhone').dirty && group.get('accountPhone').hasError('pattern')">请输入正确的家长账号！</nz-form-explain>
              <!-- <nz-form-explain *ngIf="group.get('accountPhone').dirty && group.get('accountPhone').hasError('duplicated')">该家长账号已存在</nz-form-explain>
              <nz-form-explain *ngIf="group.get('accountPhone').dirty && group.get('accountPhone').pending">
                <i nz-icon type="loading"></i>正在校验家长账号是否存在...</nz-form-explain> -->
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>关系</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="relationship" nzPlaceHolder="请选择关系">
                <nz-option nzLabel="爸爸" nzValue="爸爸"></nz-option>
                <nz-option nzLabel="妈妈" nzValue="妈妈"></nz-option>
                <nz-option nzLabel="爷爷" nzValue="爷爷"></nz-option>
                <nz-option nzLabel="奶奶" nzValue="奶奶"></nz-option>
                <nz-option nzLabel="外公" nzValue="外公"></nz-option>
                <nz-option nzLabel="外婆" nzValue="外婆"></nz-option>
                <nz-option nzLabel="其他" nzValue="其他"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="group.get('relationship').dirty && group.get('relationship').hasError('required')">请选择关系！</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </ng-container>
  </div>
  <div nz-row nzGutter="8">
    <nz-button-group>
    <button (click)="addAccount()" nz-button nzType="primary">新增一组家长账号</button>
    <button (click)="accountList.removeAt(accountList.controls.length - 1)" nz-button *ngIf="accountList.controls.length > 1">删除一组家长账号</button>
    </nz-button-group>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>身体状况</nz-form-label>
        <div>
          <div nz-col nzSpan="8">
            <nz-form-control>
              <nz-input-group nzAddOnBefore="身高" nzAddOnAfter="cm" >
                <input type="text" nz-input placeholder="请输入身高" formControlName="height">
              </nz-input-group>
              <nz-form-explain *ngIf="formGroup.get('height').dirty && formGroup.get('height').hasError('pattern')">请输入正确的身高！</nz-form-explain>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-control>
              <nz-input-group nzAddOnBefore="头围" nzAddOnAfter="cm" >
                <input type="text" nz-input placeholder="请输入头围" formControlName="headCircumference">
              </nz-input-group>
              <nz-form-explain *ngIf="formGroup.get('headCircumference').dirty && formGroup.get('headCircumference').hasError('pattern')">请输入正确的头围！</nz-form-explain>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-control>
              <nz-input-group nzAddOnBefore="体重" nzAddOnAfter="kg" >
                <input type="text" nz-input placeholder="请输入体重" formControlName="weight">
              </nz-input-group>
              <nz-form-explain *ngIf="formGroup.get('weight').dirty && formGroup.get('weight').hasError('pattern')">请输入正确的体重！</nz-form-explain>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="mobilePhone">联系电话</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入联系电话" formControlName="mobilePhone" maxlength="11" id="mobilePhone">
          <nz-form-explain *ngIf="formGroup.get('mobilePhone').dirty && formGroup.get('mobilePhone').hasError('required')">请输入联系电话！</nz-form-explain>
          <nz-form-explain *ngIf="formGroup.get('mobilePhone').dirty && formGroup.get('mobilePhone').hasError('pattern')">请输入正确的联系电话！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="email">邮箱</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入邮箱" formControlName="email" id="email">
          <nz-form-explain *ngIf="formGroup.get('email').dirty && formGroup.get('email').hasError('pattern')">请输入正确的邮箱！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="address">地址</nz-form-label>
        <nz-form-control>
          <textarea nz-input placeholder="请输入地址" formControlName="address" id="address" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="channel">报名渠道</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入报名渠道" formControlName="channel" id="channel">
          <nz-form-explain *ngIf="formGroup.get('channel').dirty && formGroup.get('channel').hasError('required')">请输入报名渠道！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>