<form nz-form [formGroup]="eventForm">
  <div nz-row nzGutter="8" formArrayName="eventList">
    <ng-container *ngFor="let group of eventList.controls; let i = index">
      <nz-card style="margin-bottom: 18px;">
        
        <div [formGroup]="group">
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="label">配置项名称</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="请输入配置项名称" formControlName="label" id="label">
                <nz-form-explain *ngIf="group.get('label').dirty && group.get('label').hasError('required')">请输入配置项名称！</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired>类型</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="type" nzPlaceHolder="请选择类型">
                  <nz-option nzLabel="单行输入框" nzValue="input"></nz-option>
                  <nz-option nzLabel="文本输入框" nzValue="textarea"></nz-option>
                  <nz-option nzLabel="时间选择器" nzValue="datetime"></nz-option>
                  <nz-option nzLabel="开始时间-结束时间" nzValue="startendtime"></nz-option>
                  <nz-option nzLabel="单选按钮组" nzValue="radio"></nz-option>
                  <nz-option nzLabel="单选按钮组（多行）" nzValue="radioArray"></nz-option>
                  <nz-option nzLabel="多选按钮组" nzValue="checkbox"></nz-option>
                  <nz-option nzLabel="多选按钮组（多行）" nzValue="checkboxArray"></nz-option>
                  <nz-option nzLabel="文件上传" nzValue="files"></nz-option>
                  <nz-option nzLabel="签名" nzValue="autograph"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="group.get('type').dirty && group.get('type').hasError('required')">请选择类型！</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label>是否必填</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="required" [nzButtonStyle]="'solid'" [nzDisabled]="group.get('type').value == 'autograph'">
                  <label nz-radio-button [nzValue]="true">是</label>
                  <label nz-radio-button [nzValue]="false">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6" *ngIf="group.get('type').value === 'input' || group.get('type').value === 'textarea'">
            <nz-form-item>
              <nz-form-label nzFor="minlength">最小长度</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="请输入最小长度" formControlName="minlength" id="minlength">
                <nz-form-explain *ngIf="group.get('minlength').dirty && group.get('minlength').hasError('pattern')">请输入正确的最小长度！</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6" *ngIf="group.get('type').value === 'input' || group.get('type').value === 'textarea'">
            <nz-form-item>
              <nz-form-label nzFor="maxlength">最大长度</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="请输入最大长度" formControlName="maxlength" id="maxlength">
                <nz-form-explain *ngIf="group.get('maxlength').dirty && group.get('maxlength').hasError('pattern')">请输入正确的最大长度！</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6" *ngIf="group.get('type').value === 'input' || group.get('type').value === 'textarea'">
            <nz-form-item>
              <nz-form-label>输入类型</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="pattern" nzAllowClear nzPlaceHolder="请选择输入类型">
                  <nz-option nzLabel="任意输入" nzValue="text"></nz-option>
                  <nz-option nzLabel="只能输入数字" nzValue="number"></nz-option>
                  <nz-option nzLabel="只能输入小数" nzValue="decimal"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24" *ngIf="group.get('type').value === 'radio' || group.get('type').value === 'checkbox' || group.get('type').value === 'select'">
            <nz-form-item>
              <nz-form-label nzRequired>可选值</nz-form-label>
              <nz-form-control>
                <nz-select nzMode="tags" formControlName="values" style="width: 100%;" nzPlaceHolder="请输入可选值，以回车分隔">
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24" *ngIf="group.get('type').value === 'radioArray' || group.get('type').value === 'checkboxArray'">
            <div formArrayName="valueArrays">
              <nz-form-item *ngFor="let values of eventList.controls[i].get('valueArrays').controls; let idx = index">
                <nz-form-label nzRequired>可选值{{ idx + 1 }}</nz-form-label>
                <nz-form-control>
                  <nz-select nzMode="tags" style="width: 100%;" [formControlName]="idx" nzPlaceHolder="请输入可选值，以回车分隔">
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <button (click)="addValueArrays(group)" nz-button nzSize="small" style="margin-right: 8px; margin-bottom: 18px">增加一组</button>
              <button (click)="deleteValueArrays(group)" nz-button nzSize="small" [disabled]="group.get('valueArrays').value.length <= 1">删除最后一组</button>
            </div>
          </div>
          <div nz-col nzSpan="24" *ngIf="group.get('type').value === 'input' || group.get('type').value === 'textarea'">
            <nz-form-item>
              <nz-form-label>默认值</nz-form-label>
              <nz-form-control nzFor="default">
                <textarea nz-input formControlName="default" id="default" [nzAutosize]="true" placeholder="请输入默认值"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <button (click)="deleteGroup(i)" nz-button nzType="danger" *ngIf="i != 0" style="margin-top: 44px;">删除</button>
      </nz-card>
    </ng-container>
  </div>
  <div style="margin-top: 24px; text-align: center;">
    <button (click)="save()" nz-button nzType="primary" [nzLoading]="saveLoading">保存</button>
    <nz-button-group style="margin:0 8px;">
      <button (click)="addGroup()" nz-button nzType="primary">新增事件配置项</button>
    </nz-button-group>
    <button (click)="close()" nz-button nzType="primary">取消</button>
  </div>
  

</form>