<ea-list-page-simp
  url="/student/getOperationList"
  [paramsDefault]="{ studentId: studentId }"
  [queryNode]="[ 
    { label: '操作时间', type: 'rangepicker', key: 'time', valueKey: ['startTime', 'endTime'] },
    { label: '角色', type: 'select', key: 'operationRoleId', optionsUrl: '/student/getRoleIdAndNameList' }
  ]"
  [tableThead]="['操作时间', '姓名', '角色', '操作模块', '操作记录']"
  [EaTableTbodyTr]="EaTableTbodyTr">
  <ng-template let-data #EaTableTbodyTr>
    <td>{{ data.operationTime }}</td>
    <td>{{ data.operationName }}</td>
    <td>{{ data.operationRoleName }}</td>
    <td>{{ data.operationModular }}</td>
    <td>{{ data.operationContent }}</td>
  </ng-template>
  
</ea-list-page-simp>