<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8" style="border-bottom: 1px dashed #ebedf0;">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">姓名</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input placeholder="请输入宝宝姓名" formControlName="studentName">
          <nz-form-explain *ngIf="valid('studentName')">请输入宝宝姓名！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">性别</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-radio-group formControlName="sex">
            <label nz-radio nzValue="男">男</label>
            <label nz-radio nzValue="女">女</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">昵称</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input placeholder="请输入宝宝昵称" formControlName="nickName">
          <nz-form-explain *ngIf="valid('nickName')">请输入宝宝昵称！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">英文名</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input placeholder="请输入宝宝英文名" formControlName="englishName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">来源</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="memberFromId" nzPlaceHolder="请选择来源">
            <nz-option [nzLabel]="option.fromName" [nzValue]="option.memberFromId" *ngFor="let option of optionItem.memberFromList"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('memberFromId')">请选择来源！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">民族/国籍</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input placeholder="请输入民族/国籍" formControlName="nation">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">宝宝生日</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-date-picker formControlName="birthday" nzPlaceHolder="请选择宝宝生日" [nzDisabledDate]="_disabledDate"></nz-date-picker>
          <nz-form-explain *ngIf="valid('birthday')">请选择宝宝生日！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">收集人</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="recruitTeacherId" nzAllowClear nzPlaceHolder="请选择收集人">
            <nz-option [nzLabel]="option.teacherName" [nzValue]="option.teacherId" *ngFor="let option of peopleItem.collectorList"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="type && type === 'isReserve'" [nzSpan]="5">班级</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="classId" nzPlaceHolder="请选择班级">
            <nz-option [nzLabel]="option.className" [nzValue]="option.classId" *ngFor="let option of optionItem.classList"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="valid('classId')">请选择班级！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">推荐人</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-select formControlName="recommenderId" nzAllowClear nzPlaceHolder="请选择推荐人">
            <nz-option [nzLabel]="option.studentName" [nzValue]="option.studentId" *ngFor="let option of peopleItem.recommender"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">入学身高</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-input-group nzAddOnAfter="cm">
            <input nz-input placeholder="请输入身高" formControlName="height">
          </nz-input-group>
          <nz-form-explain *ngIf="valid('height', 'pattern')">请输入正确的身高！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">入学体重</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-input-group nzAddOnAfter="kg">
            <input nz-input placeholder="请输入体重" formControlName="weight">
          </nz-input-group>
          <nz-form-explain *ngIf="valid('weight', 'pattern')">请输正确的体重！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">头像</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <ea-upload-picture [maxLength]="1" formControlName="headPhoto"></ea-upload-picture>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">入学头围</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <nz-input-group nzAddOnAfter="cm">
            <input nz-input placeholder="请输入头围" formControlName="headCircumference">
          </nz-input-group>
          <nz-form-explain *ngIf="valid('headCircumference', 'pattern')">请输正确的头围！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="8" style="border-bottom: 1px dashed #ebedf0; padding-top: 14px;">
    <nz-form-item>
      <nz-form-label [nzSpan]="3">邮箱</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <input nz-input placeholder="请输入邮箱" formControlName="email">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">联系地址</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <input nz-input placeholder="请输入联系地址" formControlName="address">
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row nzGutter="8" style="border-bottom: 1px dashed #ebedf0; padding-top: 14px;">
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="3">过往病史</nz-form-label>
      <nz-form-control [nzSpan]="21" [ngClass]="{ 'has-error': formGroup.get('cases') && valid('cases')}">
        <nz-input-group nzCompact>
          <nz-select formControlName="isCases" nzPlaceHolder="有无过敏史" [style.width]="'120px'">
            <nz-option nzLabel="无" [nzValue]="0"></nz-option>
            <nz-option nzLabel="有" [nzValue]="1"></nz-option>
          </nz-select>
          <input nz-input *ngIf="formGroup.get('cases')" placeholder="请输入过往病史" formControlName="cases" [style.width]="'460px'">
        </nz-input-group>
        <nz-form-explain *ngIf="formGroup.get('cases') && valid('cases')" [style.text-indent]="'120px'">请输入过往病史！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzRequired]="type === 'isPay'" [nzSpan]="3">过敏史</nz-form-label>
      <nz-form-control [nzSpan]="21" [ngClass]="{ 'has-error': valid('isAllergyHistory') || (formGroup.get('allergyHistory') && valid('allergyHistory'))}">
        <nz-input-group nzCompact>
          <nz-select formControlName="isAllergyHistory" nzPlaceHolder="有无过敏史" [style.width]="'120px'">
            <nz-option nzLabel="无" [nzValue]="0"></nz-option>
            <nz-option nzLabel="有" [nzValue]="1"></nz-option>
          </nz-select>
          <input nz-input *ngIf="formGroup.get('allergyHistory')" placeholder="请输入过敏史" formControlName="allergyHistory" [style.width]="'460px'">
        </nz-input-group>
        <nz-form-explain *ngIf="valid('isAllergyHistory')">请选择有无过敏史！</nz-form-explain>
        <nz-form-explain *ngIf="formGroup.get('allergyHistory') && valid('allergyHistory')" [style.text-indent]="'120px'">请输入过敏史！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="3">慢性病史</nz-form-label>
      <nz-form-control [nzSpan]="21" [ngClass]="{ 'has-error': formGroup.get('chronicDisease') && valid('chronicDisease')}">
        <nz-input-group nzCompact>
          <nz-select formControlName="isChronicDisease" nzPlaceHolder="有无慢性病史" [style.width]="'120px'">
            <nz-option nzLabel="无" [nzValue]="0"></nz-option>
            <nz-option nzLabel="有" [nzValue]="1"></nz-option>
          </nz-select>
          <input nz-input *ngIf="formGroup.get('chronicDisease')" placeholder="请输入慢性病史" formControlName="chronicDisease" [style.width]="'460px'">
        </nz-input-group>
        <nz-form-explain *ngIf="formGroup.get('chronicDisease') && valid('chronicDisease')" [style.text-indent]="'120px'">请输入慢性病史！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="3">药物治疗</nz-form-label>
      <nz-form-control [nzSpan]="21" [ngClass]="{ 'has-error': formGroup.get('medication') && valid('medication')}">
        <nz-input-group nzCompact>
          <nz-select formControlName="isMedication" nzPlaceHolder="有无药物治疗" [style.width]="'120px'">
            <nz-option nzLabel="无" [nzValue]="0"></nz-option>
            <nz-option nzLabel="有" [nzValue]="1"></nz-option>
          </nz-select>
          <input nz-input *ngIf="formGroup.get('medication')" placeholder="请输入药物治疗" formControlName="medication" [style.width]="'460px'">
        </nz-input-group>
        <nz-form-explain *ngIf="formGroup.get('medication') && valid('medication')" [style.text-indent]="'120px'">请输入药物治疗！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="3">限制活动</nz-form-label>
      <nz-form-control [nzSpan]="21" [ngClass]="{ 'has-error': formGroup.get('limitActivity') && valid('limitActivity')}">
        <nz-input-group nzCompact>
          <nz-select formControlName="isLimitActivity" nzPlaceHolder="有无限制活动" [style.width]="'120px'">
            <nz-option nzLabel="无" [nzValue]="0"></nz-option>
            <nz-option nzLabel="有" [nzValue]="1"></nz-option>
          </nz-select>
          <input nz-input *ngIf="formGroup.get('limitActivity')" placeholder="请输入限制活动" formControlName="limitActivity" [style.width]="'460px'">
        </nz-input-group>
        <nz-form-explain *ngIf="formGroup.get('limitActivity') && valid('limitActivity')" [style.text-indent]="'120px'">请输入限制活动！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row nzGutter="8" style="padding-top: 14px;">
    <nz-list nzBordered [nzFooter]="footer">
      <nz-list-item *ngFor="let item of accountList.controls; let idx = index" [formGroup]="item">
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired [nzSpan]="5">姓名</nz-form-label>
              <nz-form-control [nzSpan]="19">
                <input nz-input placeholder="请输入家长姓名" formControlName="accountName">
                <nz-form-explain *ngIf="item['controls']['accountName'].dirty && item['controls']['accountName'].hasError('required')">请输入家长姓名！</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired [nzSpan]="5">手机号码</nz-form-label>
              <nz-form-control [nzSpan]="19">
                <input nz-input placeholder="请输入家长手机号码" maxlength="11" formControlName="accountPhone">
                <nz-form-explain *ngIf="item['controls']['accountPhone'].dirty">
                  <span *ngIf="item['controls']['accountPhone'].hasError('required')">请输入家长手机号码！</span>
                  <span *ngIf="item['controls']['accountPhone'].hasError('pattern')">请输入正确的手机号码！</span>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired [nzSpan]="5">关系</nz-form-label>
              <nz-form-control [nzSpan]="19">
                <nz-select formControlName="relationship" nzPlaceHolder="请选择与宝宝的关系">
                  <nz-option nzLabel="爸爸" nzValue="爸爸"></nz-option>
                  <nz-option nzLabel="妈妈" nzValue="妈妈"></nz-option>
                  <nz-option nzLabel="爷爷" nzValue="爷爷"></nz-option>
                  <nz-option nzLabel="奶奶" nzValue="奶奶"></nz-option>
                  <nz-option nzLabel="外公" nzValue="外公"></nz-option>
                  <nz-option nzLabel="外婆" nzValue="外婆"></nz-option>
                  <nz-option nzLabel="其他" nzValue="其他"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="item['controls']['relationship'].dirty && item['controls']['relationship'].hasError('required')">请选择与宝宝的关系！</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="5">单位名称</nz-form-label>
              <nz-form-control [nzSpan]="19">
                <input nz-input placeholder="请输入单位名称" formControlName="workplace">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="5">身份证号</nz-form-label>
              <nz-form-control [nzSpan]="19">
                <input nz-input placeholder="请输入身份证号" formControlName="idNumber" maxlength="18">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="5" [nzNoColon]="true"></nz-form-label>
              <nz-form-control [nzSpan]="19">
                <label nz-radio formControlName="defaultStatus" (click)="setDefault(idx)">默认联系人</label>
                <a [style.float]="'right'" *ngIf="!item['controls']['defaultStatus'].value"
                  (click)="accountList.removeAt(idx)">删除此组</a>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-list-item>
      <ng-template #footer><a (click)="addAccount()">新增一组家长账号</a></ng-template>
    </nz-list>
  </div>
</form>

<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>