<form >
 
  <nz-row [nzGutter]="8">
      <nz-form-label >课程目标</nz-form-label>
      <nz-form-control>
          <textarea  nz-input  [(ngModel)]="info.goal"  name="goal" readonly [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
  </nz-row>  
  <nz-row [nzGutter]="8">
      <nz-form-label >课程效果</nz-form-label>
      <nz-form-control>
          <textarea  nz-input  [(ngModel)]="info.gain"  name="gain" readonly [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
  </nz-row>  
  <nz-row [nzGutter]="8">
      <nz-form-label>教材教具</nz-form-label>
      <nz-form-control>
          <textarea  nz-input  [(ngModel)]="info.realia"  name="realia"  readonly [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
  </nz-row> 
  <div class="button" style="margin-top:20px;" >
      <button nz-button nzType="primary" *ngIf="info.lesson" [nzSize]="size" (click)="downloadppt()" nzShape="round">
        <i nz-icon nzType="download"></i>下载教案
      </button>

      <button style="margin-left:10px;" *ngIf="info.vedio" nz-button [nzSize]="size" (click)="openvideo()" nzShape="round">
        <i nz-icon nzType="right-circle"></i>查看视频教案
      </button>
</div>
</form>