<input nz-input placeholder="请输入搜索内容" [value]="searchText" #searchInput (input)="$searchSubject.next(searchInput.value)">

<nz-divider></nz-divider>

<nz-skeleton [nzLoading]="loading">
  <ea-table [thead]="['学号', '姓名', '昵称', '家长姓名', '手机号']" [dataSet]="dataSet" [showPage]="false" [EaTableTbodyTr]="EaTableTbodyTr" (clickData)="clickData($event)">
    <ng-template let-data #EaTableTbodyTr>
      <td [innerHTML]="data.number"></td>
      <td [innerHTML]="data.name"></td>
      <td [innerHTML]="data.nick"></td>
      <td [innerHTML]="data.parentName"></td>
      <td [innerHTML]="data.mobile"></td>
    </ng-template>
  </ea-table>
</nz-skeleton>