<div class="container">
    <nz-tabset>
        <nz-tab *ngFor="let item of listClass" [(nzTitle)]="item.className" (nzSelect)="selectclass(item.id)"></nz-tab>
    </nz-tabset>
    <ea-query [node]="queryNode" (onSubmit)="querys($event)"></ea-query>
    <div class="data-list" #mainScreen>
        <div class="list" *ngFor="let item of courseList" [ngStyle]="{'margin-left': margin+ 'px', 'margin-right': margin+ 'px'}" (click)="openDetail(item)">
            <div class="list-bg" [ngStyle]="{'background-image': 'url('+ item.cover+ ')'}">
                <div class="icon-top">
                    <span *ngFor="let data of listCourseType">
                        <ng-container *ngIf="data.id == item.typeId">
                                {{ data.name }}
                        </ng-container>
                    </span>
                </div>
            </div>
            <div class="list-font">
                <span>{{ item.name }}</span>
                <span>适用：{{ item.startMonth }}-{{ item.endMonth }}个月</span>
            </div>
        </div>
        <div class="no-data" *ngIf="!courseList.length">暂无数据</div>
    </div>

    <div class="page">
        <nz-pagination [(nzPageIndex)]="pageNum" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pageChange()"
            (nzPageSizeChange)="pageChange()" [(nzTotal)]="totalPage" nzShowSizeChanger></nz-pagination>
    </div>

</div>