<div class="container">

  <ea-query-flex #query [node]="queryNode" (onSubmit)="table.request($event)"></ea-query-flex>
    
  <nz-divider></nz-divider>

  <button nz-button nzType="primary" (click)="update()" style="margin-bottom: 16px;">添加学籍项</button>


  <ea-table #table url="/commodity/card/getCardTypeList" [thead]="['名称','学籍类型','最低折扣','创建人','创建时间','售价','销量','状态','操作']"
    [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.cardTypeName }}</td>
      <td>{{ data.type == 1 ? '次卡' : '月卡' }}</td>
      <td>{{ data.lowestDiscount }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.createTime }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.count }}</td>
      <td><nz-tag [nzColor]="data.isOnline == 1 ? '#2db7f5' : ''">{{ data.isOnline == 1 ? '已上架' : '未上架' }}</nz-tag></td>
      <td>
        <a (click)="update({cardTypeInfo: data})">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="change(data.cardTypeId, data.isOnline == 1 ? 0 : 1)">{{ data.isOnline == 1 ? '下架' : '上架' }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确认删除此学籍吗?" (nzOnConfirm)="delete(data.cardTypeId)">删除</a>
      </td>
    </ng-template>
  </ea-table>
</div>