  <div class="header">
    <div class="logo"><div><img [src]="info.coverImage || 'https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png'" alt="初之光"></div></div>

    <div class="info" nz-row>
      <div nz-col nzSpan="6">
        <h2>{{ info.kindergartenName || '暂无园所名称' }}</h2>
        <p>{{ info.introduction || '暂无简介' }}</p>
      </div>
      <div nz-col nzSpan="6">
        <h4>地址：{{ info.address || '暂无园所地址' }}</h4>
        <h4>电话：{{ info.phoneNum || '暂无联系电话' }}</h4>
      </div>
      <div nz-col nzSpan="6">
        <h4>邮箱：{{ info.email || '暂无联系邮箱' }}</h4>
        <h4>官网：{{ info.officialWebsite || '暂无园所官网' }}</h4>
      </div>
      <div nz-col nzSpan="6">
        <button nz-button nzType="primary" nzGhost (click)="update()">编辑</button>
      </div>
    </div>
  </div>

  <div class="card" nz-row nzGutter="15">
    <div nz-col nzSpan="8">
      <div>
        <h2><i nz-icon nzType="team" [style.color]="'#ff5722'"></i>学籍天数少于{{ info.dayCareRemind }}天<a (click)="more(getLackCardTimeList)">查看更多</a></h2>
        <div class="table">
          <ol><li>学号</li><li>姓名</li><li>手机</li><li>天数</li></ol>
          <ng-container *ngIf="dayTimeList.length; else elseTemplate">
            <ul *ngFor="let item of dayTimeList">
              <li>{{ item.studentNum }}</li>
              <li>{{ item.studentName }}</li>
              <li>{{ item.mobilePhone }}</li>
              <li>{{ item.days }}</li>
            </ul>
          </ng-container>
          <ng-template #elseTemplate>
            <nz-empty></nz-empty>
          </ng-template>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div>
        <h2><i nz-icon nzType="team" [style.color]="'#8bc34a'"></i>学籍有效期少于{{ info.usefulLifeRemind }}天<a (click)="more(getOverdueList)">查看更多</a></h2>
        <div class="table">
          <ol><li>学号</li><li>姓名</li><li>手机</li><li>天数</li><li>关系</li></ol>
          <ng-container *ngIf="overdueList.length; else elseTemplate">
            <ul *ngFor="let item of overdueList">
              <li>{{ item.studentNum }}</li>
              <li>{{ item.studentName }}</li>
              <li>{{ item.mobilePhone }}</li>
              <li>{{ item.days }}</li>
            </ul>
          </ng-container>
          <ng-template #elseTemplate>
            <nz-empty></nz-empty>
          </ng-template>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div>
        <h2><i nz-icon nzType="team" [style.color]="'#ffc107'"></i>{{ info.toGraduateRemind }}天即将转班/毕业<a (click)="more(getAdjustList)">查看更多</a></h2>
        <div class="table">
          <ol><li>学号</li><li>姓名</li><li>手机</li><li>天数</li><li>关系</li></ol>
          <ng-container *ngIf="adjustList.length; else elseTemplate">
            <ul *ngFor="let item of adjustList">
              <li>{{ item.studentNum }}</li>
              <li>{{ item.studentName }}</li>
              <li>{{ item.mobilePhone }}</li>
              <li>{{ item.days }}</li>
            </ul>
          </ng-container>
          <ng-template #elseTemplate>
            <nz-empty></nz-empty>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <div [style.margin-top]="'23px'">
    <app-preview></app-preview>
  </div> -->