<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>服务类型</nz-form-label>
        <nz-form-control>
            <nz-select formControlName="serviceTypeCategoryId" nzPlaceHolder="请选择服务类型">
              <nz-option *ngFor="let list of optionList" [nzValue]="list.id" [nzLabel]="list.name"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="valid('serviceTypeCategoryId')">请选择服务类型！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>名称</nz-form-label>
        <nz-form-control>
          <input formControlName="serviceName" nz-input placeholder="请输入名称" />
          <nz-form-explain *ngIf="valid('serviceName')">请输入名称！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>售价</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="元">
            <input formControlName="price" nz-input placeholder="请输入售价" />
          </nz-input-group>
          <nz-form-explain *ngIf="valid('price')">请输入售价！</nz-form-explain>
          <nz-form-explain *ngIf="valid('price', 'pattern')">请输入正确的售价！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>允许最低折扣</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="折">
            <input formControlName="lowestDiscount" nz-input placeholder="请输入允许最低折扣（0-1）" />
          </nz-input-group>
          <nz-form-explain *ngIf="valid('lowestDiscount')">请输入允许最低折扣（0-1）！</nz-form-explain>
          <nz-form-explain *ngIf="valid('lowestDiscount', 'error')">请输入正确的折扣！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>服务介绍</nz-form-label>
        <nz-form-control>
          <quill-editor formControlName="serviceDesc" [style]="{height: '280px'}" placeholder="请输入该服务的介绍、使用/售卖须知，100字以内"></quill-editor>
          <nz-form-explain *ngIf="valid('serviceDesc')">请输入该服务的介绍、使用/售卖须知，100字以内！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button type="button" [nzLoading]="saveLoading" (click)="save()" class="ant-btn ant-btn-primary"><span>提交</span></button>
</div>