<div class="container">
  <ea-list-page-simp
  #listPage
  url="/classmanager/getClassList"
  [queryNode]="queryNode"
  [tableThead]="[ '头像', '班级名称', '班级口号' ,'月龄', '班级容纳人数', '老师接待能力人数', '老师', '学生' ,'操作' ]"
  [EaBtns]="EaBtns"
  [EaTableTbodyTr]="EaTableTbodyTr">
</ea-list-page-simp>

<ng-template #EaBtns>
  <button nz-button nzType="primary" (click)="update()">新增班级</button>
</ng-template>

<ng-template let-data #EaTableTbodyTr>
  <td>
    <nz-avatar nzShape="square" [nzOverlayStyle]="{padding: '0 !important'}" nzPlacement="rightBottom" [nzSrc]="data.classImage"
      nz-tooltip [nzTitle]="titleTemplate"></nz-avatar>
    <ng-template #titleTemplate>
      <img [src]="data.classImage" [ngStyle]="{'max-width': '226px', 'max-height': '400px', 'transform': 'scale(1.1)'}">
    </ng-template>
  </td>
  <td><a (click)="preview(data)">{{ data.className }}</a></td>
  <td>{{ data.classSlogan }}</td>
  <td>{{ data.startMonth }} - {{ data.endMonth }}</td>
  <td>{{ data.receptionNum }}</td>
  <td>{{ data.teacherReceptionNum }}</td>
  <td>{{ data.teacherTotal }}</td>
  <td>{{ data.studentTotal }}</td>
  <td>
    <a (click)="update(data)">编辑</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a  nz-popconfirm nzTitle="确定要删除吗？" (nzOnConfirm)="delete(data.id)">删除</a>
  </td>
</ng-template>


