<div class="header">
  <nz-avatar [nzShape]="'square'" [nzSrc]="memberInfo?.studentInfo.headPhoto" [nzSize]="80" [nzIcon]="'user'"></nz-avatar>
  <div class="info">
    <div class="name">
      {{ memberInfo?.studentInfo.studentName }}
      {{ memberInfo?.studentInfo.nickName ? '（' + memberInfo.studentInfo.nickName + '）' : '' }}
      <span class="english-name">{{ memberInfo?.studentInfo.english }}</span>
    </div>
    
    <nz-tag [nzColor]="memberInfo?.studentInfo.status < 2 ? '#87d068' : memberInfo?.studentInfo.status == 2 ? '#2db7f5' : memberInfo?.studentInfo.status == 3 ? '#f50' : ''">{{ memberInfo?.studentInfo.status == 0 ? '未体验学员' : memberInfo?.studentInfo.status == 1 ? '体验学员' : memberInfo?.studentInfo.status == 2 ? '在校学员' : memberInfo?.studentInfo.status == 3 ? '过期学员' : '离校学员' }}</nz-tag>

    <div class="cell">
      <div class="dib">
        <span>所属销售：</span><span>{{ memberInfo?.studentInfo.salespersonName || '-' }}</span>
        <nz-divider nzType="vertical"></nz-divider>
      </div>
      <div class="dib">
        <span>来源：</span><span>{{ memberInfo?.studentInfo.memberFromName || '-' }}</span>
        <nz-divider nzType="vertical"></nz-divider>
      </div>
      <div class="dib">
        <span>建档时间：</span><span>{{ memberInfo?.studentInfo.createTime }}</span>
      </div>
    </div>
    <div class="cell">
      <div class="dib">
        <span>类型：</span><span>{{ memberInfo?.studentInfo.type == 1 ? '日托学员（剩余 ' + memberInfo?.studentInfo.times + '天）' : memberInfo?.studentInfo.type == 2 ? '定期学员' : '未办卡'  }}</span>
        <nz-divider nzType="vertical"></nz-divider>
      </div>
      <div class="dib">
        <span>开卡时间：</span><span>{{ memberInfo?.studentInfo.effectDate || '-' }}</span>
        <nz-divider nzType="vertical"></nz-divider>
      </div>
      <div class="dib">
        <span>到期时间：</span><span>{{ memberInfo?.studentInfo.expireDate || '-' }}</span>
      </div>
    </div>

    <div class="btns" *ngIf="!memberInfo.hideBtn">
      <nz-button-group>
        <button nz-button nzType="primary" nzGhost *ngIf="memberInfo.studentInfo.status < 3 && showReserverBtn" (click)="appoint({studentInfo: memberInfo.studentInfo})">预约</button>
        <button nz-button nzType="primary" nzGhost *ngIf="memberInfo.studentInfo.status < 3" (click)="payment({id: memberInfo?.studentInfo.studentId})">缴费</button>
        <ng-container *ngIf="memberInfo.studentInfo.status == 2">
          <button nz-button nzType="primary" nzGhost (click)="class({id: memberInfo?.studentInfo.studentId})">转班</button>
          <button nz-button nzType="primary" nzGhost (click)="leaving({id: memberInfo?.studentInfo.studentId})">退园</button>
        </ng-container>
      </nz-button-group>
    </div>
  </div>
</div>