<div class="main">
  <form nz-form>
      <ng-container  *ngIf="indexs != 5 && datas.content">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" >菜谱内容</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <textarea name="values" nz-input [(ngModel)]="datas.content[indexs+1]" placeholder="请输入菜谱内容"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>
      </ng-container>
    <ng-container  *ngIf="indexs == 5">

    <nz-form-item>
      <nz-form-label [nzSpan]="6" >蔬菜</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['蔬菜']"  name="text"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">水果</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['水果']"  name="text1"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">肉禽</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['肉禽']"  name="text2"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">蛋类</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['蛋类']"  name="text3"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">海鲜</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['海鲜']"  name="text4"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">粮油</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['粮油']"  name="text5"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">零食</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['零食']"  name="text6"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">冻品</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['冻品']"  name="text7"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="values">其它</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="datas.ingredients['其它']"  name="text8"  placeholder="多个食材请用“、”号隔开" [(ngModel)]="value" />
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  </form>
  <div class="drawer-footer">
    <button nz-button (click)="close()">取消</button>
    <button nz-button nzType="primary"  (click)="saves()">保存</button>
  </div>
</div>