<ea-query-simp #eaQuery [node]="[{ label: '出勤时间', type: 'datepicker', key: 'startTime'}]" (onSubmit)="querySubmit($event)"></ea-query-simp>

<div class="content">
  <nz-list [nzDataSource]="dataSet" nzItemLayout="horizontal" [nzLoading]="loading" [nzPagination]="pagination"
    [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="item.eventIcon" [nzDescription]="item.startTime">
            <ng-template #nzTitle>
              <h2>
                {{ item.eventName }}
                <b [ngClass]="['status', 's' + item.auditStatus]">
                  （{{ item.auditStatus == 0 ? '无需审核' : item.auditStatus == 1 ? '未审核' : item.auditStatus == 2 ? '审核通过' : '审核未通过' }}）
                </b>
                <span class="name">{{ item.teacherName }} 为 {{ item.studentName }} 添加</span>
              </h2>
              <span class="contentI" [innerHTML]="item.appContent?.content"></span>
              <div *ngIf="item.appContent.videoUrl"><a (click)="previewUrl(item.appContent.videoUrl)">点击查看视频</a></div>
              <div *ngIf="item.appContent.imgUrlList">
                <ng-container *ngFor="let item of item.appContent.imgUrlList">
                  <a (click)="previewUrl(item)">
                    <nz-avatar style="margin-right: 12px;" nzIcon="user" nzSize="large" nzShape="square" [nzSrc]="item">
                    </nz-avatar>
                  </a>
                </ng-container>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="queryParams.pageNo" *ngIf="queryParams.totalCount" [nzTotal]="queryParams.totalCount" [nzShowTotal]="rangeTemplate"
        (nzPageIndexChange)="loadData($event)"></nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        从 {{ range[0] }} 到 {{ range[1]}} 条记录 / 共 {{ total }} 条记录
      </ng-template>
    </ng-template>
  </nz-list>
</div>