<nz-card nzTitle="公告设置">
  <button (click)="announcement()" nz-button nzType="primary">发布公告</button>

  <ea-list-page-simp #listPage url="/settings/listNoticeRecord" [queryNode]="[]"
    [tableThead]="[ '日期', '内容', '推送群体', '发送人' ]" [EaTableTbodyTr]="EaTableTbodyTr">
  </ea-list-page-simp>
  
  <ng-template let-data #EaTableTbodyTr>
    <td>{{ data.createTime }}</td>
    <td><a (click)="showContent = true; contentHtml = data.content">查看</a></td>
    <td>{{ data.acceptPerson }}</td>
    <td>{{ data.mobilePhone }}</td>
  </ng-template>
</nz-card>

<nz-drawer nzTitle="公告预览" [(nzVisible)]="showContent" [nzWidth]="520" (nzOnClose)="showContent = false">
  <div [innerHTML]="contentHtml"></div>
</nz-drawer>