<div class="container">
  <ea-query [node]="queryNode" (onSubmit)="EaTable.request($event)"></ea-query>

  <div class="ea-button-group">
    <button nz-button [nzType]="'primary'" style="margin-bottom: 16px;" (click)="addCustomer()">添加课程</button>
  </div>

  <ea-table #EaTable [thead]="tableNode" [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false"
    url="/course/queryCourse">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.name }}</td>
      <td>
        <ng-container *ngFor="let item of listCourseType">
          {{  item.id ==  data.typeId ? item.name : '' }}
        </ng-container>
      </td>
      <td>{{ data.duration || '--' }}</td>
      <td>{{ data.startMonth }} - {{ data.endMonth }}</td>
      <td>{{ data.status == 0 ? '启用' : '停用'  }}</td>
      <td>{{ data.createTime }}</td>
      <td>
        <ng-container>
          <a (click)="openDetail(data)">课程详情</a>
        </ng-container>
        <nz-divider nzType="vertical"></nz-divider>
        <ng-container>
          <a (click)="addCustomer(data)">编辑</a>
        </ng-container>
        <nz-divider nzType="vertical"></nz-divider>
        <ng-container>
          <a (click)="updataStatus(data)">{{ data.status != 0 ? '启用' : '停用'  }}</a>
        </ng-container>
      </td>
    </ng-template>
  </ea-table>
</div>