<nz-card [nzBordered]="false" nzTitle="基础设置" [nzExtra]="extraTemplate">
    <ng-template #extraTemplate>
        <button nz-button nzType="primary" (click)="save()">保存</button>
    </ng-template>
    <form nz-form [formGroup]="formGroup">
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>园所名称</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="kindergartenName" placeholder="请输入园所名称">
                        <nz-form-explain *ngIf="valid('kindergartenName')">请输入园所名称！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>联系电话</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="phoneNum" placeholder="请输入联系电话">
                        <nz-form-explain *ngIf="valid('phoneNum')">请输入联系电话！</nz-form-explain>
                        <nz-form-explain *ngIf="valid('phoneNum', 'pattern')">请输入正确的联系电话！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>园所地址</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="address" placeholder="请输入园所地址">
                        <nz-form-explain *ngIf="valid('address')">请输入园所地址！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>园所介绍</nz-form-label>
                    <nz-form-control>
                        <textarea nz-input formControlName="introduction" name="introduction"
                            [nzAutosize]="{ minRows: 2, maxRows: 4 }" placeholder="请输入园所介绍"></textarea>
                        <nz-form-explain *ngIf="valid('introduction')">请输入园所介绍！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>营业开始时间</nz-form-label>
                    <nz-form-control>
                        <nz-time-picker [nzDisabledHours]="disabledHours" formControlName="startTime" nzFormat="HH:mm"
                            nzPlaceHolder="请选择营业开始时间"></nz-time-picker>
                        <nz-form-explain *ngIf="valid('startTime')">请选择营业开始时间！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>营业截止时间</nz-form-label>
                    <nz-form-control>
                        <nz-time-picker [nzDisabledHours]="disabledHours" formControlName="endTime" nzFormat="HH:mm"
                            nzPlaceHolder="请选择营业截止时间"></nz-time-picker>
                        <nz-form-explain *ngIf="valid('endTime')">请选择营业截止时间！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>日托天数剩余提醒</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入日托天数剩余提醒" formControlName="dayCareRemind">
                        <nz-form-explain *ngIf="valid('dayCareRemind')">请输入日托天数剩余提醒！</nz-form-explain>
                        <nz-form-explain *ngIf="valid('dayCareRemind', 'pattern')">请输入正确的日托天数剩余提醒！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label nzRequired>有效期天数剩余提醒</nz-form-label>
                        <nz-form-control>
                            <input nz-input placeholder="请输入有效期天数剩余提醒" formControlName="usefulLifeRemind">
                            <nz-form-explain *ngIf="valid('usefulLifeRemind')">请输入日托天数剩余提醒！</nz-form-explain>
                            <nz-form-explain *ngIf="valid('usefulLifeRemind', 'pattern')">请输入正确的日托天数剩余提醒！</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
        </div>
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>转班或即将毕业剩余天数提醒</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入转班或即将毕业剩余天数提醒" formControlName="toGraduateRemind">
                        <nz-form-explain *ngIf="valid('toGraduateRemind')">请输入日托天数剩余提醒！</nz-form-explain>
                        <nz-form-explain *ngIf="valid('toGraduateRemind', 'pattern')">请输入正确的日托天数剩余提醒！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label nzRequired>地图标注（经纬度）</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzCompact>
                                <input type="text" nz-input placeholder="经纬度" formControlName="latAndLon" [readOnly]="true"
                                    style="width:80%;" />
                                <button nz-button nzType="primary" style="width: 20%" (click)="selectMarker()">去选择</button>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>家长签到范围</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="distance" nzPlaceHolder="请选择家长签到范围">
                            <nz-option nzLabel="100米" [nzValue]="100"></nz-option>
                            <nz-option nzLabel="200米" [nzValue]="200"></nz-option>
                            <nz-option nzLabel="300米" [nzValue]="300"></nz-option>
                            <nz-option nzLabel="400米" [nzValue]="400"></nz-option>
                            <nz-option nzLabel="500米" [nzValue]="500"></nz-option>
                            <nz-option nzLabel="600米" [nzValue]="600"></nz-option>
                            <nz-option nzLabel="700米" [nzValue]="700"></nz-option>
                            <nz-option nzLabel="800米" [nzValue]="800"></nz-option>
                            <nz-option nzLabel="900米" [nzValue]="900"></nz-option>
                            <nz-option nzLabel="1000米" [nzValue]="1000"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div> 
        </div>
    </form>
</nz-card>

<nz-card nzTitle="事件审核" style="margin-top: 18px;" [nzExtra]="Title">
        <ng-template #Title>
            <button (click)="saveSetting()" nz-button nzType="primary" [nzLoading]="saveSettingLoading">保存</button>
        </ng-template>
        <nz-select style="width: 360px;" nzPlaceHolder="请选择事件审核权限" [(ngModel)]="checkType">
            <nz-option [nzValue]="1" nzLabel="所有记录都需要园长审核后才可以发送给家长"></nz-option>
            <nz-option [nzValue]="2" nzLabel="部分记录需要园长审核才发送给家长"></nz-option>
            <nz-option [nzValue]="3" nzLabel="所有记录都不需要园长审核"></nz-option>
        </nz-select>
        <nz-alert nzType="info" [ngStyle]="{'margin': '18px 0 18px'}" [nzMessage]="checkType == 1 ? 
        '选择此项后，老师的记录将不会直接发送给家长，需要园长进入“事件”--“个人”页面中，去选择小朋友，点击“审核完毕”按钮，即可发送给家长--在审核过程中，如果发现有错误，园长可以自行修改，或是请老师在APP中修改（老师修改后，园长刷新页面即可看到）。' : checkType == 2 ? 
        '选择此项后，下方选中的老师和小朋友的记录将不会直接发送给家长，需要园长进入“事件”--“个人”页面中，去选择相关的小朋友，一一审核老师的记录，审核通过后，点击“审核完毕”按钮，即可发送给家长--在审核过程中，如果发现有错误，园长可以自行修改，或是请老师在APP中修改（老师修改后，园长刷新页面即可看到）。' : 
        '选择此项后，老师的记录将会直接发给家长'"></nz-alert>
    
        <div nz-col [nzSpan]="8" *ngIf="checkType == 1">
            <h3>选择辅助审核老师</h3>
            <nz-checkbox-group [(ngModel)]="userList"></nz-checkbox-group>
        </div>
    
        <div *ngIf="checkType == 2" nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="8">
                <h3>以下勾选的老师的记录需要园长审核</h3>
                <nz-checkbox-group [(ngModel)]="teacherList"></nz-checkbox-group>
            </div>
            <div nz-col [nzSpan]="8">
                <h3>选择辅助审核老师</h3>
                <nz-checkbox-group [(ngModel)]="userList"></nz-checkbox-group>
            </div>
    
            <div nz-col [nzSpan]="8">
                <h3>以下勾选的事件需要园长审核</h3>
                <nz-checkbox-group [(ngModel)]="eventListSh"></nz-checkbox-group>
            </div>
    
            <div nz-col [nzSpan]="24">
                <h3>以下勾选的小朋友的记录需要园长审核</h3>
                <nz-collapse [nzBordered]="false">
                    <nz-collapse-panel *ngFor="let panel of classChildrenList" [nzHeader]="panel.className">
                        <nz-checkbox-group [(ngModel)]="panel.students"></nz-checkbox-group>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
        </div>
    
    </nz-card>