button {
  margin-bottom: 24px;
}
// .head-img {
//   height: 300px;
// }
:host ::ng-deep {
  .ant-card-cover {
    height: 300px;
    position: relative;
    overflow: hidden;
    & > img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}