<div class="container">
  <ea-query-simp #eaQuery [node]="queryNode" (onSubmit)="querySubmit($event)"></ea-query-simp>
  
  <ng-template #contentTemplate>
    <ul nz-menu class="popover-content">
      <li nz-menu-item *ngFor="let item of eventList">
        <a href="javascript:;" (click)="addEvent(item)">{{ item.eventName }}</a>
      </li>
    </ul>
  </ng-template>

  <div [style.float]="'right'">
    <button nz-button nzType="primary" nz-popover nzTitle="选择事件" nzTrigger="click" [nzContent]="contentTemplate" [(nzVisible)]="showEventList" style="margin-right: 8px;">新增事件</button>
  </div>

</div>
<div class="content">
  <nz-list [nzDataSource]="dataSet" nzItemLayout="horizontal" [nzLoading]="loading"
    [nzPagination]="pagination"
    [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item *ngIf="!showExamine || (showExamine && item.auditStatus == 1)" [nzActions]="item.auditStatus != 2 ? [editAction] : null">
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #editAction>
            <ng-container *ngIf="showExamine; else elseTemplate">
              <label nz-checkbox [(ngModel)]="item.checked"></label>
            </ng-container>
            <ng-template #elseTemplate>
              <a (click)="update(item)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzTitle="确定要删除吗？" (nzOnConfirm)="delete(item.id)">删除</a>
            </ng-template>
            
          </ng-template>
          <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="item.eventIcon"
            [nzDescription]="item.showTime">
            <ng-template #nzTitle>
              <h2>
                {{ item.eventName }}
                <b [ngClass]="['status', 's' + item.auditStatus]">
                  （{{ item.auditStatus == 0 ? '无需审核' : item.auditStatus == 1 ? '未审核' : item.auditStatus == 2 ? '审核通过' : '审核未通过' }}）
                </b>
                <span class="name">{{ item.teacherName }} 为 {{ item.studentName }} 添加</span>
              </h2>
              <span class="contentI" [innerHTML]="item.appContent?.content"></span>
              <div *ngIf="item.appContent.videoUrl"><a (click)="previewUrl(item.appContent.videoUrl)">点击查看视频</a></div>
              <div *ngIf="item.appContent.imgUrlList">
                <ng-container *ngFor="let item of item.appContent.imgUrlList">
                  <a (click)="previewUrl(item)"><nz-avatar style="margin-right: 12px;" nzIcon="user" nzSize="large" nzShape="square" [nzSrc]="item"></nz-avatar></a>
                </ng-container>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="queryParams.pageNo" [nzTotal]="queryParams.totalCount" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="loadData($event)"></nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        当前：{{ range[0] }}-{{ range[1] }}  共 {{ total }} 条
      </ng-template>
    </ng-template>
  </nz-list>
</div>

