<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8" *ngFor="let control of templateContent; let i = index">
    <nz-form-item>
      <nz-form-label [nzRequired]="control.required">{{ control.label }}</nz-form-label>
      <nz-form-control>

        <ng-container *ngIf="control.type === 'input'">
          <input [formControlName]="'control' + i" nz-input [placeholder]="'请输入' + control.label">
        </ng-container>

        <ng-container *ngIf="control.type === 'textarea'">
          <textarea nz-input [formControlName]="'control' + i" [nzAutosize]="{ minRows: 4, maxRows: 4 }" [placeholder]="'请输入' + control.label"></textarea>
        </ng-container>

      <ng-container *ngIf="control.type === 'datetime'">
        {{ 'control' + i }}
          <!-- <nz-date-picker nzShowTime [formControlName]="'control' + i" nzFormat="yyyy-MM-dd HH:mm" [nzPlaceHolder]="'请选择' + control.label"></nz-date-picker> -->
        </ng-container>

        <ng-container *ngIf="control.type === 'startendtime'">
          <nz-range-picker [formControlName]="'control' + i" nzAllowClear nzFormat="yyyy-MM-dd HH:mm" [nzPlaceHolder]="['开始日期', '结束日期']"></nz-range-picker>
        </ng-container> 

        <ng-container *ngIf="control.type === 'radio'">
          <nz-radio-group [formControlName]="'control' + i">
            <label nz-radio [nzValue]="option" *ngFor="let option of control.values">{{ option }}</label>
          </nz-radio-group>
        </ng-container>

        <ng-container *ngIf="control.type === 'radioArray'">
          <ng-container *ngFor="let optionList of control.valueArrays; let idx = index">
            <nz-radio-group [formControlName]="'control' + i + idx">
              <label nz-radio [nzValue]="option" *ngFor="let option of optionList">{{ option }}</label>
            </nz-radio-group>
            <nz-form-explain style="color: #f5222d;" *ngIf="control.required && formGroup.get('control' + i + idx).dirty && formGroup.get('control' + i + idx).hasError('required')">此项为必填项！</nz-form-explain>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="control.type === 'checkbox'">
          <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="checkboxChange('control' + i, $event)">
            <label nz-checkbox [nzValue]="option" *ngFor="let option of control.values">{{ option }}</label>
          </nz-checkbox-wrapper>
        </ng-container>

        <ng-container *ngIf="control.type === 'checkboxArray'">
          <ng-container *ngFor="let optionList of control.valueArrays; let idx = index">
            <div>
              <nz-checkbox-wrapper (nzOnChange)="checkboxChange('control' + i + idx, $event)">
                <label nz-checkbox [nzValue]="option" *ngFor="let option of optionList">{{ option }}</label>
              </nz-checkbox-wrapper>
            </div>
            <nz-form-explain style="color: #f5222d;" *ngIf="control.required && formGroup.get('control' + i + idx).dirty && formGroup.get('control' + i + idx).hasError('required')">此项为必填项！</nz-form-explain>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="control.type === 'select'">
          <nz-select [formControlName]="'control' + i" [nzPlaceHolder]="'请选择' + control.label">
            <nz-option [nzLabel]="option" [nzValue]="option" *ngFor="let option of control.values"></nz-option>
          </nz-select>
        </ng-container>

        <ng-container *ngIf="control.type === 'files'">
          <ea-upload-file [formControlName]="'control' + i" [maxLength]="9"></ea-upload-file>
        </ng-container>

        <ng-container *ngIf="control.type === 'autograph'">
          暂不支持签名
        </ng-container>

        <ng-container *ngIf="control.required && control.type != 'radioArray' &&  control.type != 'checkboxArray'">
          <nz-form-explain *ngIf="formGroup.get('control' + i).dirty && formGroup.get('control' + i).hasError('required')">此项为必填项！</nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>