<div class="container">
  <ea-query [node]="queryNode" (onSubmit)="EaTable.request($event)"></ea-query>

  <ea-table #EaTable [thead]="tableNode" [paramsDefault]="paramsDefault" [isParamJson]="false" [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false" [url]="domainEs + '/czg/threadQuery'">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.xxx }}</td>
      <td>{{ data.xxx }}</td>
      <td>{{ data.xxx }}</td>
      <td>{{ data.xxx }}</td>
      <td><a (click)="preview({id: data.id})">{{ data.nick }}</a></td>
      <td><a (click)="preview({id: data.id})">{{ data.name }}</a></td>
      <td>{{ data.birthday || '--' }}</td>
      <td>{{ data.sex }}</td>
      <td>{{ data.monthAge }}</td>
      <td>{{ data.parentName }}</td>
      <td>{{ data.mobile }}</td>
      <td>{{ data.threadCreateTime }}</td>
      <td>{{ data.nextFollowTime || '--' }}</td>
      <td>{{ data.lastFollowTime || '--' }}</td>
      <td>{{ data.sourceId || '--' }}</td>
      <td>{{ data.acitivityId || '-' }}</td>
      <td>{{ data.teacherId || '-' }}</td>
    </ng-template>
  </ea-table>
</div>