<div class="container">
    <ea-list-page-simp
      #listPage
      url="/reserve/reserveStatisticsBySchool"
      [queryNode]="queryNode"
      [showPage]="false"
      [tableThead]="[ '总坑位（个）','占用坑位（个）', '占比', '日托孩子（个）', '长期孩子（个）' ]"
      [EaBtns]="EaBtns"
      [paramsInit]="paramsInit"
      [EaTableTbodyTr]="EaTableTbodyTr">
    </ea-list-page-simp>
      
    <ng-template #EaBtns>
      <div class="buttons">
        <button nz-button nzType="primary" (click)="generate()">生成数据</button>
      </div>
    </ng-template>
    
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.total }}</td>
      <td>{{ data.cnt	 }}</td>
      <td>{{ data.percent	}}%</td>
      <td>{{ data.tmpAmount }}</td>
      <td>{{ data.formalAmount }}</td>
    </ng-template>

  </div>