<nz-card nzTitle="事件设置" [nzLoading]="loading">
  <div nz-card-grid [ngStyle]="{width: '25%'}" *ngFor="let item of eventList" (click)="update(item)">
    <span>{{ item.eventName }}</span>
    <nz-tag 
      [ngStyle]="{'float': 'right'}" 
      [nzColor]="item.eventSatus == 1 ? '#2db7f5' : ''" (click)="upateStatus(item); $event.stopPropagation()">
      {{ item.eventSatus == 1 ? '启用' : '禁用' }}
    </nz-tag>
  </div>
</nz-card>
<nz-card nzTitle="事件审核" style="margin-top: 18px;" [nzExtra]="Title">
  <ng-template #Title>
    <button (click)="saveSetting()" nz-button nzType="primary" [nzLoading]="saveSettingLoading">保存</button>
  </ng-template>
  <nz-select style="width: 360px;" nzPlaceHolder="请选择事件审核权限" [(ngModel)]="checkType">
    <nz-option [nzValue]="1" nzLabel="所有记录都需要园长审核后才可以发送给家长"></nz-option>
    <nz-option [nzValue]="2" nzLabel="部分记录需要园长审核才发送给家长"></nz-option>
    <nz-option [nzValue]="3" nzLabel="所有记录都不需要园长审核"></nz-option>
  </nz-select>
  <nz-alert nzType="info" 
    [ngStyle]="{'margin': '18px 0 18px'}"
    [nzMessage]="checkType == 1 ? 
    '选择此项后，老师的记录将不会直接发送给家长，需要园长进入“事件”--“个人”页面中，去选择小朋友，点击“审核完毕”按钮，即可发送给家长--在审核过程中，如果发现有错误，园长可以自行修改，或是请老师在APP中修改（老师修改后，园长刷新页面即可看到）。' : checkType == 2 ? 
    '选择此项后，下方选中的老师和小朋友的记录将不会直接发送给家长，需要园长进入“事件”--“个人”页面中，去选择相关的小朋友，一一审核老师的记录，审核通过后，点击“审核完毕”按钮，即可发送给家长--在审核过程中，如果发现有错误，园长可以自行修改，或是请老师在APP中修改（老师修改后，园长刷新页面即可看到）。' : 
    '选择此项后，老师的记录将会直接发给家长'"></nz-alert>

  <div nz-col [nzSpan]="8" *ngIf="checkType == 1">
    <h3>选择辅助审核老师</h3>
    <nz-checkbox-group [(ngModel)]="userList"></nz-checkbox-group>
  </div>

  <div *ngIf="checkType == 2" nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <h3>以下勾选的老师的记录需要园长审核</h3>
      <nz-checkbox-group [(ngModel)]="teacherList"></nz-checkbox-group>
    </div>
    <div nz-col [nzSpan]="8">
      <h3>选择辅助审核老师</h3>
      <nz-checkbox-group [(ngModel)]="userList"></nz-checkbox-group>
    </div>

    <div nz-col [nzSpan]="8">
      <h3>以下勾选的事件需要园长审核</h3>
      <nz-checkbox-group [(ngModel)]="eventListSh"></nz-checkbox-group>
    </div>

    <div nz-col [nzSpan]="24">
      <h3>以下勾选的小朋友的记录需要园长审核</h3>
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel *ngFor="let panel of classChildrenList" [nzHeader]="panel.className">
          <nz-checkbox-group [(ngModel)]="panel.students"></nz-checkbox-group>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>

</nz-card>