<div class="container">

  <div nz-row>
    <div nz-col nzSpan="8">
        <button nz-button nzType="primary" (click)="open()">添加学籍项</button>
        <nz-drawer
          [nzClosable]="false"
          [nzOffsetX]="childrenVisible ? 180 : 0"
          [nzWidth]="320"
          [nzVisible]="visible"
          nzTitle="添加卡项"
          (nzOnClose)="close()"
        >
        <form nz-form>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label>Name</nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="please enter cookbook name" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label>Food</nz-form-label>
                <nz-form-control>
                  <nz-tag>potato</nz-tag>
                  <nz-tag>eggplant</nz-tag>
                  <nz-tag (click)="openChildren()">+</nz-tag>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
        <div class="footer">
          <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
          <button type="button" (click)="close()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
        </div>
        <nz-drawer [nzClosable]="false" [nzVisible]="childrenVisible" nzTitle="Food" (nzOnClose)="closeChildren()">
          <nz-list [nzDataSource]="vegetables" [nzRenderItem]="item">
            <ng-template #item let-item>
              <nz-list-item [nzContent]="item"></nz-list-item>
            </ng-template>
          </nz-list>
        </nz-drawer>
      </nz-drawer>
    </div>
    <div nz-col nzSpan="4" nzOffset="12">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="请输入卡名称" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch>搜索</button>
        </ng-template>
    </div>
  </div>

  <nz-card id="shrink">
    <ng-form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="2" [nzXs]="24">学籍类型</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-radio-group [(ngModel)]="radioValue" [ngModelOptions]="{standalone: true}" formArrayName="studentStatus" [nzButtonStyle]="'solid'" [nzSize]="'small'">
              <label (click)="tabSieves(i+1)" *ngFor="let item of validateForm.get('studentStatus')['controls']; let i = index;" nz-radio-button [nzValue]="i+1">{{item.value}}</label>
            </nz-radio-group>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="salesVolume">
        <nz-form-label  [nzSm]="2" [nzXs]="24" nzFor="password">总销量</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div nz-col nzSpan="4">
            <input (blur)="loseFocus(validateForm.get('salesVolume')['controls'].salesMinNumber.value)" formControlName="salesMinNumber" nz-input placeholder="最小值" />
          </div>
          <div nz-col nzSpan="1">
            <span style="display: block;text-align: center;">至</span>
          </div>
          <div nz-col nzSpan="4">
            <input formControlName="salesMaxNumber" nz-input placeholder="最大值" />
          </div>
          <nz-form-explain 
            style="color: red;" 
            *ngIf="validateForm.get('salesVolume')['controls'].salesMinNumber.value-1+1 > validateForm.get('salesVolume')['controls'].salesMaxNumber.value-1+1"
            >总销量最小值不能大于最大值</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="price">
        <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="checkPassword">售价</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-col nzSpan="4">
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input formControlName="priceMinNumber" nz-input placeholder="最小值" />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon>元</i>
              </ng-template>
            </div>
            <div nz-col nzSpan="1">
              <span style="display: block;text-align: center;">至</span>
            </div>
            <div nz-col nzSpan="4">
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input formControlName="priceMaxNumber" nz-input placeholder="最大值" />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon>元</i>
              </ng-template>
            </div>
          <nz-form-explain
            style="color: red;"
            *ngIf="validateForm.get('price')['controls'].priceMinNumber.value-1+1 > validateForm.get('price')['controls'].priceMaxNumber.value-1+1"
          >
          售价最小值不能大于最大值
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </ng-form>
    <p style="text-align: center;">
      <a style="position: absolute; bottom: 10px;" (click)="cardShrink()" href="javascript:void(0);">{{ shrinkText }}</a>
    </p>
  </nz-card>

  <nz-table nzShowPagination style="margin-top: 20px;" #basicTable nzBordered [nzData]="dataSet">
    <thead>
      <tr>
        <th nzAlign="center">名称</th>
        <th nzAlign="center">学籍类型</th>
        <th nzAlign="center">最低折扣</th>
        <th nzAlign="center">创建人</th>
        <th nzAlign="center">创建时间</th>
        <th nzAlign="center">售价</th>
        <th nzAlign="center">销量</th>
        <th nzAlign="center">状态</th>
        <th nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sievesResult;">
          <td nzAlign="center">{{ item.cardTypeName }}</td>
          <td nzAlign="center">{{ item.cardTypeCategoryName }}</td>
          <td nzAlign="center">{{ item.lowestDiscount }}</td>
          <td nzAlign="center">{{ item.name }}</td>
          <td nzAlign="center"><pre>{{ item.createTime }}</pre></td>
          <td nzAlign="center">{{ item.price }}</td>
          <td nzAlign="center">{{ item.count }}</td>
          <td nzAlign="center">{{ item.isOnline }}</td>
          <td class="option" nzAlign="center">
            <a href="javascript:void(0);" title="{{item.cardTypeId}}">编辑</a>
            <a href="javascript:void(0);" title="{{item.cardTypeId}}">上架</a>
            <a href="javascript:void(0);" title="{{item.cardTypeId}}">下架</a>
            <a href="javascript:void(0);" title="{{item.cardTypeId}}">删除</a>
          </td>
      </tr>
    </tbody>
  </nz-table>

</div>