<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>学籍类型</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="type" [nzButtonStyle]="'solid'">
            <label nz-radio-button [nzValue]="1"><p>有限次学籍</p>
            <p>支持创建多个服务集合有限次数的次学籍</p></label>
            <label nz-radio-button [nzValue]="2"><p>不限次学籍</p>
            <p>支持创建多个服务集合不限次数的学籍：月、年等</p></label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="cardTypeName" placeholder="请输入名称">
          <nz-form-explain *ngIf="valid('cardTypeName')">请输入名称！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" *ngIf="formGroup.get('type').value == 1">
      <nz-form-item>
        <nz-form-label nzRequired>天数</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="天">
            <input nz-input formControlName="day" placeholder="请输入天数">
          </nz-input-group>
          <nz-form-explain *ngIf="valid('day')">请输入天数！</nz-form-explain>
          <nz-form-explain *ngIf="valid('day', 'pattern')">请输入正确的天数！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" *ngIf="formGroup.get('type').value == 2">
      <nz-form-item>
        <nz-form-label nzRequired>期限</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="月">
            <input nz-input formControlName="month" placeholder="请输入期限">
          </nz-input-group>
          <nz-form-explain *ngIf="valid('month')">请输入期限！</nz-form-explain>
          <nz-form-explain *ngIf="valid('month', 'pattern')">请输入正确的期限！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>售价</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="price" placeholder="请输入售价">
          <nz-form-explain *ngIf="valid('price')">请输入售价！</nz-form-explain>
          <nz-form-explain *ngIf="valid('price', 'pattern')">请输入正确的售价！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>最低折扣</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="lowestDiscount" placeholder="请输入最低折扣（0-1）">
          <nz-form-explain *ngIf="valid('lowestDiscount')">请输入最低折扣！</nz-form-explain>
          <nz-form-explain *ngIf="valid('lowestDiscount', 'error')">请输入正确的最低折扣（0-1）！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>卡项介绍</nz-form-label>
        <nz-form-control>
          <quill-editor formControlName="cardDesc" [style]="{height: '280px'}" placeholder="请输入该卡的介绍、使用/售卖须知"></quill-editor>
          <nz-form-explain *ngIf="valid('cardDesc')">请输入卡项介绍！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="drawer-footer">
    <button nz-button (click)="close()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>