<div class="container">
    <ea-list-page-simp #listPage url="/teacher/getTeachersList" [queryNode]="queryNode" [paramsDefault]="{status: 1}"
        [tableThead]="[ '头像', '名字', '艺名', '手机号' ,'性别', '角色', '是否是主管', '在职状态' ,'所属班级', '年龄', '生日', '操作' ]" [EaBtns]="EaBtns"
         [EaTableTbodyTr]="EaTableTbodyTr">
    </ea-list-page-simp>

    <ng-template #EaBtns>
        <button nz-button nzType="primary" (click)="update()">新增员工</button>
    </ng-template>

    <ng-template let-data #EaTableTbodyTr>
        <td>
            <nz-avatar nzShape="square" [nzOverlayStyle]="{padding: '0 !important'}" nzPlacement="rightBottom" [nzSrc]="data.photoUrl" nz-tooltip [nzTitle]="titleTemplate"></nz-avatar>
            <ng-template #titleTemplate>
                <img [src]="data.photoUrl" [ngStyle]="{'max-width': '226px', 'max-height': '400px', 'transform': 'scale(1.1)'}">
            </ng-template>
        </td>
        <td>{{ data.name }}</td>
        <td>{{ data.englishName || '--' }}</td>
        <td><span *ngIf="!data.isPhone" (click)="data.isPhone = true"
                style="color:#1890ff; cursor: pointer;">查看</span><span
                *ngIf="data.isPhone">{{ data.mobilePhone }}</span></td>
        <td>{{ data.sex == 1 ? '男' : '女' }}</td>
        <td>{{ data.roleName }}</td>
        <td>{{ data.isGovernor ? '是' : '否' }}</td>
        <td>{{ data.status == 1 ? '在职' : '离职' }}</td>
        <td>{{ data.className }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.birthday }}</td>
        <td><a (click)="update({ id: data.id })">编辑</a></td>
    </ng-template>

</div>