<div class="title">
  <h1>排课状况</h1>
  <div class="cell">
    <div class="s1">可用</div>
    <div class="s2">已占用</div>
    <div class="s3">可能续卡</div>
    <div class="s4">当前选择</div>
    <div class="s5">超出能力（超出1人）</div>
    <div class="s6">严重超出能力（超出2人）</div>
    <div class="s7">超严重超出能力（超出3人）</div>
  </div>
</div>

<div class="content">
  <div class="item" *ngFor="let classes of dataSet">
    <div class="classes">
      <h2>{{ classes.className }}</h2>
      <p>班级容纳人数：{{ classes.receptionNum }}</p>
      <p>老师接待人数：{{ classes.teacherReceptionNum }}</p>
    </div>
    <div class="teachers">
      <div class="teacher" *ngFor="let teacher of classes.teachers">
        <div class="info">
          <h2>{{ teacher.name }}</h2>
          <p>接待能力 {{ teacher.receptionNum }} 人</p>
        </div>
        <div class="main">
          <div class="month">
            <nz-tag [nzColor]="'#2db7f5'">2019-09</nz-tag>
            <div class="row">
              <div class="thead">111
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>