<div class="container">

  <ea-query-flex [node]="queryNode" (onSubmit)="table.request($event)"></ea-query-flex>
  
  <nz-divider></nz-divider>

  <button nz-button nzType="primary" (click)="update()" style="margin-bottom: 16px;">添加服务</button>

  <ea-table #table url="/commodity/service/serviceTypeList"
    [thead]="['名称','服务类型','最低折扣','创建人','创建时间','售价','销量','状态','操作']" [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false"
    style="margin-top: 10px;">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.serviceName }}</td>
      <td>{{ data.serviceTypeCategoryName }}</td>
      <td>{{ data.lowestDiscount*10 }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.createTime }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.count }}</td>
      <td>{{ data.isOnline == 1 ? '已上架' : '未上架' }}</td>
      <td>
        <a (click)="update({cardTypeInfo: data})">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="upperShelf(data.serviceTypeId)">上架</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="lowerShelf(data.serviceTypeId)">下架</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确认删除此服务吗?" (nzOnConfirm)="delete(data)">删除</a>
      </td>
    </ng-template>
  </ea-table>

</div>