<form nz-form [formGroup]="formGroup">
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="mobilePhone">老师账号</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="请输入老师账号" maxlength="11" formControlName="mobilePhone" id="mobilePhone">
                    <nz-form-explain *ngIf="valid('mobilePhone')">请输入老师账号！</nz-form-explain>
                    <nz-form-explain *ngIf="valid('mobilePhone', 'pattern')">请输入正确的老师账号！</nz-form-explain>
                    <nz-form-explain *ngIf="valid('mobilePhone', 'duplicated')">该老师账号已存在</nz-form-explain>
                    <nz-form-explain *ngIf="formGroup.get('mobilePhone').pending"><i nz-icon type="loading"></i>正在校验老师账号是否存在...</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <ng-container *ngIf="formGroup.get('mobilePhone').valid">
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzRequired>老师头像</nz-form-label>
                    <nz-form-control>
                        <ea-upload-picture formControlName="photoUrl" [maxLength]="1"></ea-upload-picture>
                        <nz-form-explain *ngIf="valid('photoUrl')">请上传照片！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>姓名</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入老师姓名" formControlName="name">
                        <nz-form-explain *ngIf="valid('name')">请输入老师姓名！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>性别</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="sex" nzPlaceHolder="请选择老师性别">
                            <nz-option nzLabel="男" nzValue="1"></nz-option>
                            <nz-option nzLabel="女" nzValue="2"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>角色</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="roleId" nzPlaceHolder="请选择角色">
                            <nz-option *ngFor="let option of roleList" [nzLabel]="option.roleName" [nzValue]="option.id"></nz-option>
                        </nz-select>
                        <nz-form-explain *ngIf="valid('roleId')">请选择角色！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12" *ngIf="formGroup.get('isGovernor')">
                <nz-form-item>
                    <nz-form-label nzRequired>是否是主管</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="isGovernor" nzPlaceHolder="请选择是否是主管">
                            <nz-option nzLabel="是" [nzValue]="1"></nz-option>
                            <nz-option nzLabel="否" [nzValue]="0"></nz-option>
                        </nz-select>
                        <nz-form-explain *ngIf="valid('isGovernor')">请选择是否是主管！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            
            <div nz-col nzSpan="12" *ngIf="formGroup.get('classId')">
                <nz-form-item>
                    <nz-form-label>负责班级</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="classId" nzPlaceHolder="请选择负责班级">
                            <nz-option *ngFor="let option of classList" [nzLabel]="option.className" [nzValue]="option.id"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12" *ngIf="formGroup.get('receptionNum')">
                <nz-form-item>
                    <nz-form-label nzRequired>接待能力</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入接待能力" formControlName="receptionNum">
                        <nz-form-explain *ngIf="valid('receptionNum')">请输入接待能力！</nz-form-explain>
                        <nz-form-explain *ngIf="valid('receptionNum', 'pattern')">请输入正确的接待能力！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>身份证号</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入身份证号" formControlName="idCard" maxlength="18">
                        <nz-form-explain *ngIf="valid('idCard')">请输入身份证号！</nz-form-explain>
                        <nz-form-explain *ngIf="valid('idCard', 'pattern')">请输入正确的身份证号！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>生日</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="birthday"></nz-date-picker>
                        <nz-form-explain *ngIf="valid('birthday')">请选择生日！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>Email</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入邮箱地址" formControlName="eMail">
                        <nz-form-explain *ngIf="valid('eMail', 'pattern')">请输入正确的邮箱地址！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>家庭住址</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入家庭住址" formControlName="homeAddress">
                        <nz-form-explain *ngIf="valid('homeAddress')">请输入家庭住址！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>入职时间</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker placeholder="请选择入职时间" formControlName="entryTime"></nz-date-picker>
                        <nz-form-explain *ngIf="valid('entryTime')">请选择入职时间！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>离职时间</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker placeholder="请选择离职时间" formControlName="quitTime"></nz-date-picker>
                        <nz-form-explain *ngIf="valid('quitTime')">请选择离职时间！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired>老师状态</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="status" nzPlaceHolder="请选择老师状态">
                            <nz-option nzLabel="在职" [nzValue]="1"></nz-option>
                            <nz-option nzLabel="离职" [nzValue]="2"></nz-option>
                        </nz-select>
                        <nz-form-explain *ngIf="valid('status')">请输入老师状态！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>
    </ng-container>
</form>
<div class="drawer-footer">
    <button nz-button (click)="close()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>