<div class="container">
  <ng-template #EaBtns>
    <button nz-button nzType="primary" (click)="openCreate()">新增角色</button>
  </ng-template>
  <ea-list-page 
    #EaListPage 
    url="/settings/role/listRole" 
    [queryNode]="queryNode" 
    [tableThead]="['角色名称', '角色性质', '创建日期', '备注', '状态', '操作']" 
    [allowSpace]="false" 
    [EaTableTbodyTr]="EaTableTbodyTr"
    [EaBtns]="EaBtns">
    <ng-template #EaTableTbodyTr let-data>
      <td>{{ data.roleName }}</td>
      <td>{{ data.roleType }}</td>
      <td>{{ data.createDate }}</td>
      <td>{{ data.remark }}</td>
      <td><nz-tag [nzColor]="data.enable == 0 ? '#2db7f5' : ''">{{ data.enable == 0 ? '启用' : '禁用' }}</nz-tag></td>
       <td>
        <ng-container *ngIf="data.roleName != '门店管理员'">
          <a href="javascript:;" (click)="editRole(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <nz-dropdown>
            <a nz-dropdown>更多 <i nz-icon type="down"></i></a>
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <a nz-popconfirm nzTitle="确认删除此角色吗?" nzOkText="删除" nzCancelText="取消" (nzOnConfirm)="deleteRole(data.roleId,2)">删除</a>
              </li>
              <li nz-menu-item>
                <a (click)="allocationMenu(data.roleId)">分配菜单</a>
              </li>
            </ul>
          </nz-dropdown>
        </ng-container>
      </td>
    </ng-template>
  </ea-list-page>
</div>


<nz-modal [(nzVisible)]="showCreateRole" nzTitle="角色信息" [nzFooter]="modalFooter" (nzOnCancel)="showCreateRole = false">

  <form nz-form [formGroup]="createRoleForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzRequired]="true" ng-hide='true'>角色名称</nz-form-label>
      <nz-form-control [nzSpan]="16" [ngClass]="{'has-error': createRoleForm.get('roleName').value === '门店管理员'}">
        <input nz-input type="text" formControlName="roleName" placeholder="请输入角色名称" >
        <nz-form-explain *ngIf="createRoleForm.get('roleName').dirty && createRoleForm.get('roleName').errors">请输入角色名称!</nz-form-explain>
        <nz-form-explain *ngIf="createRoleForm.get('roleName').dirty && createRoleForm.get('roleName').value === '门店管理员'">禁止使用“门店管理员”作为角色名称!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
     <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzRequired]="true">角色性质</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select formControlName="roleCode" nzPlaceHolder="角色性质" class="wide">
          <nz-option *ngFor="let data of roleListType" [nzLabel]="data.roleName"
                     [nzValue]="data.roleCode"></nz-option>
         </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzRequired]="true">状态</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-radio-group formControlName="enable">
          <label nz-radio-button [nzValue]="0">启用</label>
          <label nz-radio-button [nzValue]="1">停用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">备注</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <textarea nz-input formControlName="remark" placeholder="请输入角色备注" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="showCreateRole = false">取消</button>
    <button nz-button nzType="primary" [nzLoading]="createLoading" (click)="crateRole()">确定</button>
  </ng-template>
</nz-modal>