<div class="container">
  <div class="ea-button-group">
    <button nz-button [nzType]="'primary'" style="margin-bottom: 16px;" (click)="addCustomer()">添加广告</button>
    <button nz-button (click)="import()">导入客户</button>
  </div>

  <ea-table #EaTable [thead]="tableNode" [EaTableTbodyTr]="EaTableTbodyTr" [showPage]="false" [allowSpace]="false" [attribute]="true"  [paramsInit]="paramsInit" url="/console/banner/all">
    <ng-template let-data #EaTableTbodyTr>
      <td>
        <nz-avatar [nzIcon]="'user'" [nzOverlayStyle]="{padding: '0 !important'}" nzPlacement="rightBottom"
          [nzSrc]="data.imgUrl" nz-tooltip [nzTitle]="data.imgUrl ? titleTemplate : null"></nz-avatar>
        <ng-template #titleTemplate>
          <img [src]="data.imgUrl" [ngStyle]="{'max-width': '226px', 'max-height': '400px', 'transform': 'scale(1.1)'}">
        </ng-template>
      </td>
      <td><a (click)="addCustomer({id: data.id})">{{ data.name }}</a></td>
      <td>{{ data.createTime || '--' }}</td>
      <td>{{ data.updateTime }}</td>
      <td>{{ data.upShelves }}</td>
      <td>
        <a  *ngIf="data.upShelves != '上架'" nz-popconfirm nzTitle="确定要上架该商品吗？" (nzOnConfirm)="upShelves(data.id)">上架</a>
        <a  *ngIf="data.upShelves == '上架'" nz-popconfirm nzTitle="确定要下架该商品吗？" (nzOnConfirm)="downShelves(data.id)">下架</a>

      </td>
    </ng-template>
  </ea-table>
</div>