

      <div class="table-list">
          <span style="padding-right:20px;"> 食谱类型： {{ week.name }}</span><span>班级：{{ className.className }}</span>  

          <nz-table style="padding-top:20px;" #basicTable #borderedTable nzBordered class="datalist" [nzData]="tablist" nzShowPagination="false">
            <thead>
              <tr>
                <th nzWidth="100px">类型</th>
                <th nzWidth="150px">Monday<br>周一</th>
                <th nzWidth="150px">Tuesday<br>周二</th>
                <th nzWidth="150px">Wednesday<br>周三</th>
                <th nzWidth="150px">Thursday<br>周四</th>
                <th nzWidth="150px">Friday<br>周五</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tablist; let indexs = index;">
                <td>
                  <div *ngIf="indexs == 0">
                    Breakfast<br>
                    早餐
                  </div>
                  <div *ngIf="indexs == 1">
                    Snack<br>
                    加餐
                  </div>
                  <div *ngIf="indexs == 2">
                    Lunch<br>
                    午餐
                  </div>
                  <div *ngIf="indexs == 3">
                    Snack<br>
                    加餐
                  </div>
                  <div *ngIf="indexs == 4">
                    Dinner<br>
                    晚餐
                  </div>
                  <div *ngIf="indexs== 5">
                    Food Ingredients<br>
                    食材
                  </div>
                </td>
                <td>
                    <ng-container *ngIf="indexs < 5 && dataList[0]">
                    <a (click)="preview(0,indexs)" [innerHTML]="dataList[0].content[indexs+1]"></a>
                  </ng-container>
                  <ng-container *ngIf="indexs ==5 && dataList[0] && dataList[0].arr">
                      <ng-container *ngFor="let item of dataList[0].arr">
                          <p><a (click)="preview(0,indexs)" [innerHTML]="item"></a></p>
                      </ng-container>
                  </ng-container>
                  <ng-container >
                      <a (click)="preview(0,indexs)">+</a>
                  </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="indexs < 5 && dataList[1]">
                        <a (click)="preview(1,indexs)" [innerHTML]="dataList[1].content[indexs+1]"></a>
                      </ng-container>
                      <ng-container *ngIf="indexs ==5 && dataList[1] && dataList[1].arr">
                          <ng-container *ngFor="let item of dataList[1].arr">
                            <p><a (click)="preview(1,indexs)"[innerHTML]="item"></a></p>
                          </ng-container>
                      </ng-container>
                      <ng-container >
                          <a (click)="preview(1,indexs)">+</a>
                      </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="indexs < 5 && dataList[2]">
                        <a (click)="preview(2,indexs)" [innerHTML]="dataList[2].content[indexs+1]"></a>
                      </ng-container>
                      <ng-container *ngIf="indexs ==5 && dataList[2] && dataList[2].arr">
                          <ng-container *ngFor="let item of dataList[2].arr">
                            <p> <a (click)="preview(2,indexs)"[innerHTML]="item"></a></p>
                          </ng-container>
                      </ng-container>
                      <ng-container >
                          <a (click)="preview(2,indexs)">+</a>
                      </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="indexs < 5 && dataList[3]">
                        <a (click)="preview(3,indexs)" [innerHTML]="dataList[3].content[indexs+1]"></a>
                      </ng-container>
                      <ng-container *ngIf="indexs ==5 && dataList[3] && dataList[3].arr">
                          <ng-container *ngFor="let item of dataList[3].arr">
                            <p> <a (click)="preview(3,indexs)"[innerHTML]="item"></a></p>
                          </ng-container>
                      </ng-container>
                      <ng-container>
                          <a (click)="preview(3,indexs)">+</a>
                      </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="indexs < 5 && dataList[4]">
                        <a (click)="preview(4,indexs)" [innerHTML]="dataList[4].content[indexs+1]"></a>
                      </ng-container>
                      <ng-container *ngIf="indexs ==5 && dataList[4] && dataList[4].arr">
                          <ng-container *ngFor="let item of dataList[4].arr">
                            <p><a (click)="preview(4,indexs)"[innerHTML]="item"></a></p>
                          </ng-container>
                      </ng-container>
                      <ng-container>
                          <a (click)="preview(4,indexs)">+</a>
                      </ng-container>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="drawer-footer">
              <button nz-button (click)="close()">取消</button>
              <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="saves()">保存</button>
            </div>
        </div>