<nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzParagraph]="{ rows: 2 }" [nzLoading]="loading">
  <app-header [memberInfo]="memberInfo"></app-header>
</nz-skeleton>
<nz-divider></nz-divider>
<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <nz-form-item>
      <nz-form-label nzRequired>退园时间</nz-form-label>
      <nz-form-control>
        <nz-date-picker [nzDisabledDate]="disabledDate" [nzAllowClear]="false" formControlName="leaveDate" nzPlaceHolder="请选择退园时间"></nz-date-picker>
        <nz-form-explain *ngIf="valid('leaveDate')">请选择退园时间！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngFor="let card of pricesAndCardType.controls">
      <nz-form-label>“{{ card['cardTypeName'] }}</nz-form-label>
      <nz-form-control [formGroup]="card">
        <nz-input-group nzCompact>
          <input nz-input formControlName="price" placeholder="请输入退款金额（不输代表不退）" [style.width]="'50%'">
          <input type="text" nz-input [value]="card['cardStatus'] == 4 ? '该卡未被使用' : card['resultTimes'] || card['resultTimes'] > -1 ? '剩余'+ (card['resultTimes'] + card['resultFreeTimes']) + (card['type'] == 1 ? '次' : '天') + '（购买的'+ (card['resultTimes']) + (card['type'] == 1 ? '次' : '天') +'  赠送'+ (card['resultFreeTimes']) + (card['type'] == 1 ? '次' : '天') + '）' : '请选择退园时间'" [disabled]="true" [style.width]="'50%'" />
        </nz-input-group>
        <nz-form-explain *ngIf="card['controls']['price'].errors">请输入正确的退款金额！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>退款原因</nz-form-label>
      <nz-form-control>
        <textarea nz-input placeholder="请输入退款原因" formControlName="leaveReason"></textarea>
        <nz-form-explain *ngIf="valid('leaveReason')">请输入退款原因！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>