<div class="header">
  <nz-avatar [nzShape]="'square'" [nzSrc]="studentInfo.headPhoto" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
  <div class="info">
    <div class="name">
      {{ studentInfo.studentName }}
      {{ studentInfo.nickName ? '（' + studentInfo.nickName + '）' : '' }}
      <span class="english-name">{{ studentInfo.english }}</span>
    </div>
    <nz-tag [nzColor]="'cyan'">{{ studentInfo.status < 2 ? '体验学员' : studentInfo.status == 2 ? '在校学员' : studentInfo.status == 3 ? '过期学员' : '离校学员' }}</nz-tag>
    <div class="cell">
      <span>所属销售：</span><span>{{ studentInfo.salespersonName || '-' }}</span>
    </div>
    <div class="cell">
      <span>类型：</span><span>{{ studentInfo.type == 1 ? '日托学员（剩余 ' + studentInfo.times + '天）' : studentInfo == 2 ? '定期学员' : '未办卡'  }}</span>
    </div>
  </div>
</div>

<nz-divider></nz-divider>

<div class="detail">
  <ea-title>{{ formInfo.cardTypeName || formInfo.serviceName }}</ea-title>
  <div>{{ formInfo.cardDesc || formInfo.serviceDesc }}</div>
</div>

<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired>单价</nz-form-label>
    <nz-form-control nzSpan="19">
      <input nz-input formControlName="price" placeholder="商品单价" readonly>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5">折扣</nz-form-label>
    <nz-form-control nzSpan="19">
      <input nz-input formControlName="discount" [placeholder]="'请输入' + formInfo.lowestDiscount + '- 1'">
      <nz-form-explain *ngIf="valid('discount', 'error')">请输入正确的折扣({{ formInfo.lowestDiscount }} - 1)</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5">优惠</nz-form-label>
    <nz-form-control nzSpan="19">
      <nz-form-text style="color: #f5222d; font-size: 14px;">{{ (preferential || 0) | currency: '￥' }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <ng-container *ngIf="formInfo.cardTypeName">
    <nz-form-item>
      <nz-form-label nzSpan="5">赠送</nz-form-label>
      <nz-form-control nzSpan="19">
        <input nz-input formControlName="freeDay" placeholder="请输入赠送的天数">
        <nz-form-explain *ngIf="valid('freeDay', 'pattern')">请输入正确的天数</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="formInfo.type == 1">
      <nz-form-item>
        <nz-form-label nzSpan="5" nzRequired>入学时间</nz-form-label>
        <nz-form-control nzSpan="19">
          <nz-date-picker formControlName="effectDate" nzFormat="yyyy-MM-dd" nzPlaceHolder="请选择入学时间"></nz-date-picker>
          <nz-form-explain *ngIf="valid('effectDate')">请选择入学时间</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5">退学时间</nz-form-label>
        <nz-form-control nzSpan="19">
          <input nz-input formControlName="expireDate" readonly placeholder="退学时间">
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    
    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired>缴费性质</nz-form-label>
      <nz-form-control nzSpan="19">
        <nz-select formControlName="payMethod" nzPlaceHolder="请选择缴费性质">
          <nz-option nzLabel="全款" [nzValue]="1"></nz-option>
          <nz-option nzLabel="分期" [nzValue]="2"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="5" nzRequired>学号</nz-form-label>
      <nz-form-control nzSpan="19">
        <input nz-input formControlName="studentNum" placeholder="请输入学号">
        <nz-form-explain *ngIf="valid('studentNum')">请输入学号</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <nz-form-item>
    <nz-form-label nzSpan="5" nzRequired>所属销售</nz-form-label>
    <nz-form-control nzSpan="19">
      <nz-select formControlName="salespersonId" nzPlaceHolder="请选择所属销售">
        <nz-option *ngFor="let item of teacherList" [nzLabel]="item.teacherName" [nzValue]="item.teacherId"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="valid('salespersonId')">请选择所属销售</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5">备注</nz-form-label>
    <nz-form-control nzSpan="19">
      <textarea nz-input formControlName="comment" placeholder="请输入备注"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="footer">
  <button nz-button nzType="primary" nzSize="large" nzBlock [nzLoading]="saveLoading" (click)="save()">收款：{{ (formInfo.price - preferential) | currency: '￥' }}</button>
</div>