<div class="main">
    <button nz-button nzType="dashed" style="width: 100%; " (click)="addClass()"><i class="anticon anticon-plus"></i>添加类别</button>

    <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false">
        <thead>
            <tr>
              <th>名称</th>
              <th>描述</th>
              <th>类别颜色</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of listOfData">
                  <td >
                      <ng-container *ngIf="!data.edit; else nameInputTpl">
                          {{ data.name }}
                        </ng-container>
                        <ng-template #nameInputTpl>
                          <input type="text" nz-input [(ngModel)]="data.name" />
                        </ng-template>
                  </td>
                  <td >
                      <ng-container *ngIf="!data.edit; else descriptionInputTpl">
                          {{ data.description }}
                        </ng-container>
                        <ng-template #descriptionInputTpl>
                          <input type="text" nz-input [(ngModel)]="data.description" />
                        </ng-template>
                  </td>
                  <td >
                      <ng-container *ngIf="!data.edit; else colorInputTpl">
                          {{ data.color }}
                        </ng-container>
                        <ng-template #colorInputTpl>
                            <nz-select style="width:150px;" class="selet-color"  nzPlaceHolder="请选择" [(ngModel)]="data.color">
                                <nz-option nzCustomContent nzLabel="Magenta" nzValue="magenta"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px; color: #eb2f96; background: #fff0f6; border-color: #ffadd2;">magenta</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Red" nzValue="red"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #f5222d; background: #fff1f0; border-color: #ffa39e;">red</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Volcano" nzValue="volcano"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #fa541c; background: #fff2e8; border-color: #ffbb96;">volcano</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Gold" nzValue="gold"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #faad14; background: #fffbe6; border-color: #ffe58f;">gold</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Lime" nzValue="lime"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #a0d911; background: #fcffe6; border-color: #eaff8f;">lime</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Green" nzValue="green"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #a0d911; background: #fcffe6; border-color: #eaff8f;">green</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Cyan" nzValue="cyan"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #13c2c2; background: #e6fffb; border-color: #87e8de;">cyan</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Blue" nzValue="blue"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #1890ff; background: #e6f7ff; border-color: #91d5ff;">blue</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Geekblue" nzValue="geekblue"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #2f54eb; background: #f0f5ff; border-color: #adc6ff;">geekblue</span></nz-option>
                                <nz-option nzCustomContent nzLabel="Purple" nzValue="purple"><span style="width:80px; height:25px; line-height:23px; text-align:center; display:block; border: solid 1px;color: #722ed1; background: #f9f0ff; border-color: #d3adf7;">purple</span></nz-option>
                                <!-- <nz-option nzCustomContent nzLabel="Windows" nzValue="windows"
                                ><i nz-icon nzType="windows"></i> Windows</nz-option
                              >
                              <nz-option nzCustomContent nzLabel="Mac" nzValue="mac"><i nz-icon nzType="apple"></i> Mac</nz-option>
                              <nz-option nzCustomContent nzLabel="Android" nzValue="android"
                                ><i nz-icon nzType="android"></i> Android
                              </nz-option> -->
                              </nz-select>
                        </ng-template>
                  </td>
                  <td>
                      <ng-container *ngIf="!data.edit; else saveTpl">
                          <a (click)="data.edit = true;">编辑</a>
                        </ng-container>
                        <ng-template #saveTpl>
                          <a (click)="saveEdit(data)">保存</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a (click)="cancel(data)">取消</a>
                        </ng-template>
          
          
                  </td>
              </tr>
          </tbody>
    </nz-table>
</div>

<!-- <div class="drawer-footer">
  <button nz-button nzType="primary" (click)="save()"></button>
</div> -->