<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>公告标题</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入公告标题" formControlName="noticeTitle">
          <nz-form-explain *ngIf="formGroup.get('noticeTitle').dirty && formGroup.get('noticeTitle').hasError('required')">请输入公告标题！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>封面图</nz-form-label>
        <nz-form-control>
          <ea-upload-picture formControlName="noticeCover" [maxLength]="1"></ea-upload-picture>
          <nz-form-explain *ngIf="formGroup.get('noticeCover').dirty && formGroup.get('noticeCover').hasError('required')">请上传照片！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>公告内容</nz-form-label>
        <nz-form-control>
          <!-- <ckeditor [editor]="Editor" formControlName="content" [style]="{height: '400px'}" [config]="config"></ckeditor> -->
          <quill-editor formControlName="content" [style]="{height: '400px'}" [placeholder]="'请输入公告内容'"></quill-editor>
          <nz-form-explain *ngIf="formGroup.get('content').dirty && formGroup.get('content').hasError('required')">请输入公告内容！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired>选择推送人群</nz-form-label>
        <nz-form-control>
          <label nz-checkbox formControlName="checkedTeacher">老师</label>
          <label nz-checkbox formControlName="sendAllTeacher" *ngIf="formGroup.get('checkedTeacher').value">是否发送全部老师</label>
          <nz-select 
            formControlName="teacherSelect"
            style="margin-left: 24px; width: 440px" nzMode="multiple" nzAllowClear nzPlaceHolder="请选择老师" 
            *ngIf="formGroup.get('checkedTeacher').value && !formGroup.get('sendAllTeacher').value">
            <nz-option *ngFor="let option of teacherList" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
          </nz-select>
          <nz-form-explain 
            *ngIf="formGroup.get('checkedTeacher').dirty && 
                  formGroup.get('checkedTeacher').hasError('error') && 
                  !formGroup.get('checkedStudent').value">发送群体老师、家长必选其一！</nz-form-explain>
          <nz-form-explain 
            *ngIf="formGroup.get('teacherSelect') && formGroup.get('teacherSelect').dirty && 
                  formGroup.get('teacherSelect').hasError('required')">请选择需要发送的老师</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="checkedStudent">家长</label>
          <label nz-checkbox formControlName="sendAllStudent" *ngIf="formGroup.get('checkedStudent').value">是否发送全部家长</label>
          <nz-select 
            formControlName="studentSelect"
            style="margin-left: 24px; width: 440px" nzMode="multiple" nzAllowClear nzPlaceHolder="请选择班级" 
            *ngIf="formGroup.get('checkedStudent').value && !formGroup.get('sendAllStudent').value">
            <nz-option *ngFor="let option of classList" [nzValue]="option.id" [nzLabel]="option.className"></nz-option>
          </nz-select>
          <nz-form-explain 
            *ngIf="formGroup.get('checkedStudent').dirty && 
                  formGroup.get('checkedStudent').hasError('error') && 
                  !formGroup.get('checkedTeacher').value">发送群体老师、家长必选其一！</nz-form-explain>

          <nz-form-explain *ngIf="formGroup.get('studentSelect') && formGroup.get('studentSelect').dirty && 
                            formGroup.get('studentSelect').hasError('required')">请选择需要发送的家长</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>